In [1]:
import sys
import platform
import pandas as pd
print(f"Executable Python: {sys.executable}")
print(f"Python Version: {platform.python_version()}")

#To show multiple outputs and misc. changes
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # Show all results without print (last_expr)

Executable Python: C:\Users\maity\.conda\envs\aku_mldl\python.exe
Python Version: 3.9.6

In [2]:
df_movie= pd.read_csv('G:\My Drive\Coursera\movie_data.csv')
df_movie

,Movie Title,Release Date,Wikipedia URL,Genre,Director (1),Director (2),Cast (1),Cast (2),Cast (3),Cast (4),Cast (5),Budget,Revenue
0,10 Cloverfield Lane,2016-03-08,https://en.wikipedia.org/wiki/10_Cloverfield_Lane,Thriller,Dan Trachtenberg,NaN,Mary Elizabeth Winstead,John Goodman,John Gallagher,NaN,NaN,"$15,000,000.00","$108,300,000.00"
1,13 Hours: The Secret Soldiers of Benghazi,2016-01-15,https://en.wikipedia.org/wiki/13_Hours:_The_Se...,Action,Michael Bay,NaN,James Badge Dale,John Krasinski,Toby Stephens,Pablo Schreiber,Max Martini,"$45,000,000.00","$69,400,000.00"
2,2 Guns,2013-08-02,https://en.wikipedia.org/wiki/2_Guns,Action,Baltasar Kormákur,NaN,Mark Wahlberg,Denzel Washington,Paula Patton,Bill Paxton,Edward James Olmos,"$61,000,000.00","$131,900,000.00"
3,21 Jump Street,2012-03-16,https://en.wikipedia.org/wiki/21_Jump_Street_(...,Comedy,Phil Lord,Chris Miller,Jonah Hill,Channing Tatum,Ice Cube,Brie Larson,Rob Riggle,"$55,000,000.00","$201,500,000.00"
4,22 Jump Street,2014-06-04,https://en.wikipedia.org/wiki/22_Jump_Street,Action,Phil Lord,Chris Miller,Channing Tatum,Jonah Hill,Ice Cube,NaN,NaN,"$84,500,000.00","$331,300,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,X-Men: Days of Future Past,2014-05-10,https://en.wikipedia.org/wiki/X-Men:_Days_of_F...,Action,Bryan Singer,NaN,Hugh Jackman,James McAvoy,Michael Fassbender,Halle Berry,Jennifer Lawrence,"$200,000,000.00","$747,900,000.00"
504,You're Next,2013-08-23,https://en.wikipedia.org/wiki/You%2527re_Next,Horror,Adam Wingard,NaN,Sharni Vinson,Joe Swanberg,AJ Bowen,Nicholas Tucci,Barbara Crampton,"$1,000,000.00","$26,800,000.00"
505,Zero Dark Thirty,2012-12-19,https://en.wikipedia.org/wiki/Zero_Dark_Thirty,Drama,Kathryn Bigelow,NaN,Jessica Chastain,Chris Pratt,Joel Edgerton,Kyle Chandler,Jason Clarke,"$40,000,000.00","$132,800,000.00"
506,Zhong Kui: Snow Girl and the Dark Crystal,2015-02-19,https://en.wikipedia.org/wiki/Zhong_Kui:_Snow_...,Romance,Peter Pau,NaN,Li Bingbing,Chen Kun,Yang Zishan,Winston Chao,Bao Bei'er,"$30,000,000.00","$64,470,000.00"
507,Zoolander 2,2016-02-12,https://en.wikipedia.org/wiki/Zoolander_2,Comedy,Ben Stiller,NaN,Ben Stiller,Owen Wilson,Christine Taylor,Will Ferrell,Penélope Cruz,"$50,000,000.00","$56,000,000.00"

In [3]:
df_movie['Revenue'].max()

'$99,800,000.00'

In [4]:
df_movie['Movie Title'][df_movie['Genre']=='Thriller']

0        10 Cloverfield Lane
14         A Most Wanted Man
88             Don't Breathe
106           Eye in the Sky
220                    Nerve
228                 Non-Stop
230         Now You See Me 2
241    Paranormal Activity 4
352            The Conjuring
364            The Equalizer
371                 The Gift
376               The Gunman
416         The November Man
421          The Perfect Guy
431                The Raven
432             The Revenant
Name: Movie Title, dtype: object

In [5]:
df_movie.fillna(0,inplace =True)

In [6]:
rows ,columns = df_movie.shape

In [7]:
rows
columns

508

13

In [8]:
df_movie.head(2)

,Movie Title,Release Date,Wikipedia URL,Genre,Director (1),Director (2),Cast (1),Cast (2),Cast (3),Cast (4),Cast (5),Budget,Revenue
0,10 Cloverfield Lane,2016-03-08,https://en.wikipedia.org/wiki/10_Cloverfield_Lane,Thriller,Dan Trachtenberg,0,Mary Elizabeth Winstead,John Goodman,John Gallagher,0,0,"$15,000,000.00","$108,300,000.00"
1,13 Hours: The Secret Soldiers of Benghazi,2016-01-15,https://en.wikipedia.org/wiki/13_Hours:_The_Se...,Action,Michael Bay,0,James Badge Dale,John Krasinski,Toby Stephens,Pablo Schreiber,Max Martini,"$45,000,000.00","$69,400,000.00"

In [9]:
df_movie.tail(5)

,Movie Title,Release Date,Wikipedia URL,Genre,Director (1),Director (2),Cast (1),Cast (2),Cast (3),Cast (4),Cast (5),Budget,Revenue
503,X-Men: Days of Future Past,2014-05-10,https://en.wikipedia.org/wiki/X-Men:_Days_of_F...,Action,Bryan Singer,0,Hugh Jackman,James McAvoy,Michael Fassbender,Halle Berry,Jennifer Lawrence,"$200,000,000.00","$747,900,000.00"
504,You're Next,2013-08-23,https://en.wikipedia.org/wiki/You%2527re_Next,Horror,Adam Wingard,0,Sharni Vinson,Joe Swanberg,AJ Bowen,Nicholas Tucci,Barbara Crampton,"$1,000,000.00","$26,800,000.00"
505,Zero Dark Thirty,2012-12-19,https://en.wikipedia.org/wiki/Zero_Dark_Thirty,Drama,Kathryn Bigelow,0,Jessica Chastain,Chris Pratt,Joel Edgerton,Kyle Chandler,Jason Clarke,"$40,000,000.00","$132,800,000.00"
506,Zhong Kui: Snow Girl and the Dark Crystal,2015-02-19,https://en.wikipedia.org/wiki/Zhong_Kui:_Snow_...,Romance,Peter Pau,0,Li Bingbing,Chen Kun,Yang Zishan,Winston Chao,Bao Bei'er,"$30,000,000.00","$64,470,000.00"
507,Zoolander 2,2016-02-12,https://en.wikipedia.org/wiki/Zoolander_2,Comedy,Ben Stiller,0,Ben Stiller,Owen Wilson,Christine Taylor,Will Ferrell,Penélope Cruz,"$50,000,000.00","$56,000,000.00"

In [10]:
df_movie.columns

Index(['Movie Title', 'Release Date', 'Wikipedia URL', 'Genre', 'Director (1)',
       'Director (2)', 'Cast (1)', 'Cast (2)', 'Cast (3)', 'Cast (4)',
       'Cast (5)', 'Budget ', 'Revenue'],
      dtype='object')

In [11]:
df_movie.Genre.head()

0    Thriller
1      Action
2      Action
3      Comedy
4      Action
Name: Genre, dtype: object

In [12]:
df_movie['Genre'].unique( )

array(['Thriller', 'Action', 'Comedy', 'Biography', 'Drama', 'Crime',
       'Adventure', 'Horror', 'Sci-Fi', 'Romance', 'Musical', 'Fantasy',
       'Mystery', 'Family', 'Religious', 'Animation', 'Documentary'],
      dtype=object)

In [14]:
type(df_movie['Release Date'])

pandas.core.series.Series

In [15]:
df_movie[['Release Date','Genre']].head(2)

  Release Date     Genre
0   2016-03-08  Thriller
1   2016-01-15    Action

In [16]:
df_movie['Release Date'].max()

'2016-08-26'

In [17]:
df_movie.describe()

,Movie Title,Release Date,Wikipedia URL,Genre,Director (1),Director (2),Cast (1),Cast (2),Cast (3),Cast (4),Cast (5),Budget,Revenue
count,508,508,508,508,508,508,508,508,508,508,508,508,508
unique,508,330,508,17,414,40,345,403,413,408,354,147,447
top,10 Cloverfield Lane,2015-12-25,https://en.wikipedia.org/wiki/10_Cloverfield_Lane,Action,David Ayer,0,Tom Cruise,0,0,0,0,"$20,000,000.00","$5,400,000.00"
freq,1,6,1,120,4,467,5,5,23,56,119,30,3

In [18]:
df_movie[df_movie.Genre == 'Action'].head()

,Movie Title,Release Date,Wikipedia URL,Genre,Director (1),Director (2),Cast (1),Cast (2),Cast (3),Cast (4),Cast (5),Budget,Revenue
1,13 Hours: The Secret Soldiers of Benghazi,2016-01-15,https://en.wikipedia.org/wiki/13_Hours:_The_Se...,Action,Michael Bay,0,James Badge Dale,John Krasinski,Toby Stephens,Pablo Schreiber,Max Martini,"$45,000,000.00","$69,400,000.00"
2,2 Guns,2013-08-02,https://en.wikipedia.org/wiki/2_Guns,Action,Baltasar Kormákur,0,Mark Wahlberg,Denzel Washington,Paula Patton,Bill Paxton,Edward James Olmos,"$61,000,000.00","$131,900,000.00"
4,22 Jump Street,2014-06-04,https://en.wikipedia.org/wiki/22_Jump_Street,Action,Phil Lord,Chris Miller,Channing Tatum,Jonah Hill,Ice Cube,0,0,"$84,500,000.00","$331,300,000.00"
5,300: Rise of an Empire,2014-03-04,https://en.wikipedia.org/wiki/300:_Rise_of_an_...,Action,Noam Murro,0,Rodrigo Santoro,Eva Green,Sullivan Stapleton,Hans Matheson,Lena Headey,"$110,000,000.00","$337,600,000.00"
7,71,2014-02-07,https://en.wikipedia.org/wiki/%252771_(film),Action,Yann Demange,0,Jack O'Connell,Richard Dormer,Sean Harris,Sam Reid,0,"$8,100,000.00","$2,900,000.00"

In [19]:
filter1 = df_movie['Release Date']==df_movie['Release Date'].max()
df_movie[filter1][["Genre","Release Date"]]

         Genre Release Date
88    Thriller   2016-08-26
132  Biography   2016-08-26
200     Action   2016-08-26

In [20]:
df1=df_movie.set_index('Movie Title')

In [21]:
df1.loc['Zoolander 2']

Release Date                                    2016-02-12
Wikipedia URL    https://en.wikipedia.org/wiki/Zoolander_2
Genre                                               Comedy
Director (1)                                   Ben Stiller
Director (2)                                             0
Cast (1)                                       Ben Stiller
Cast (2)                                       Owen Wilson
Cast (3)                                  Christine Taylor
Cast (4)                                      Will Ferrell
Cast (5)                                     Penélope Cruz
Budget                                      $50,000,000.00
Revenue                                     $56,000,000.00
Name: Zoolander 2, dtype: object

In [22]:
# loading a dataframe by pasing a dictionary
weather_data = {'day':['1/1/2017','1/2/2017','1/3/2017'],
                'temperature': [32,35,28],
                'windspeed':[6,7,2],
                'event':['Rain','Snow','Sunny']}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7   Snow
2  1/3/2017           28          2  Sunny

In [23]:
# loading dataframe by pasing a list of tuples
weather_data = [('1/1/2017',32,6,"Rain"),
                ('1/2/2017',35,7,"Sunny"),
                ('1/3/2017',28,2,"Snow")]

df= pd.DataFrame(weather_data,columns = ["date","Temperature","windspeed","event"])
df

       date  Temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [24]:
df_stocks = pd.DataFrame({
    'Ticker':['Google',"WMT","MSFT"],
    'Price':[845,65,64],
    'Pe': [ 30.37,14.26,30.97],
    'Eps':[27.82,4.61,2.12]

})

df_weather = pd.DataFrame({
                'day':['1/1/2017','1/2/2017','1/3/2017'],
                'temperature': [32,35,28],
                'windspeed':[6,7,2],
                'event':['Rain','Snow','Sunny']
})

In [25]:
with pd.ExcelWriter('Stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer,sheet_name='Stocks',index=False)
    df_weather.to_excel(writer,sheet_name = 'Weather',index=False)

In [26]:
df1 = pd.read_excel('Stocks_weather.xlsx',sheet_name='Weather',parse_dates=['day'])
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7   Snow
2 2017-01-03           28          2  Sunny

In [27]:
df1.set_index('day',inplace=True)

In [28]:
df1

            temperature  windspeed  event
day
2017-01-01           32          6   Rain
2017-01-02           35          7   Snow
2017-01-03           28          2  Sunny

In [29]:
new_df= df1.fillna({
    'temperature': 0,
    'windspeed': 0,
    'event': 'No event'
})

In [30]:
new_df

            temperature  windspeed  event
day
2017-01-01           32          6   Rain
2017-01-02           35          7   Snow
2017-01-03           28          2  Sunny

In [31]:
new_df= df1.fillna(method='ffill')
new_df

            temperature  windspeed  event
day
2017-01-01           32          6   Rain
2017-01-02           35          7   Snow
2017-01-03           28          2  Sunny

In [32]:
df_movie.head()

,Movie Title,Release Date,Wikipedia URL,Genre,Director (1),Director (2),Cast (1),Cast (2),Cast (3),Cast (4),Cast (5),Budget,Revenue
0,10 Cloverfield Lane,2016-03-08,https://en.wikipedia.org/wiki/10_Cloverfield_Lane,Thriller,Dan Trachtenberg,0,Mary Elizabeth Winstead,John Goodman,John Gallagher,0,0,"$15,000,000.00","$108,300,000.00"
1,13 Hours: The Secret Soldiers of Benghazi,2016-01-15,https://en.wikipedia.org/wiki/13_Hours:_The_Se...,Action,Michael Bay,0,James Badge Dale,John Krasinski,Toby Stephens,Pablo Schreiber,Max Martini,"$45,000,000.00","$69,400,000.00"
2,2 Guns,2013-08-02,https://en.wikipedia.org/wiki/2_Guns,Action,Baltasar Kormákur,0,Mark Wahlberg,Denzel Washington,Paula Patton,Bill Paxton,Edward James Olmos,"$61,000,000.00","$131,900,000.00"
3,21 Jump Street,2012-03-16,https://en.wikipedia.org/wiki/21_Jump_Street_(...,Comedy,Phil Lord,Chris Miller,Jonah Hill,Channing Tatum,Ice Cube,Brie Larson,Rob Riggle,"$55,000,000.00","$201,500,000.00"
4,22 Jump Street,2014-06-04,https://en.wikipedia.org/wiki/22_Jump_Street,Action,Phil Lord,Chris Miller,Channing Tatum,Jonah Hill,Ice Cube,0,0,"$84,500,000.00","$331,300,000.00"

In [33]:
g = df_movie.groupby('Genre')
g

In [34]:
for Genre,Genre_df in g:
    print(Genre)
    print(Genre_df)

Action
                                   Movie Title Release Date  \
1    13 Hours: The Secret Soldiers of Benghazi   2016-01-15
2                                       2 Guns   2013-08-02
4                               22 Jump Street   2014-06-04
5                       300: Rise of an Empire   2014-03-04
7                                           71   2014-02-07
..                                         ...          ...
493                           White House Down   2013-06-28
500                                World War Z   2013-06-21
501                        Wrath of the Titans   2012-03-30
502                          X-Men: Apocalypse   2016-05-09
503                 X-Men: Days of Future Past   2014-05-10

                                         Wikipedia URL   Genre  \
1    https://en.wikipedia.org/wiki/13_Hours:_The_Se...  Action
2                 https://en.wikipedia.org/wiki/2_Guns  Action
4         https://en.wikipedia.org/wiki/22_Jump_Street  Action
5    https://en.wikipedia.org/wiki/300:_Rise_of_an_...  Action
7         https://en.wikipedia.org/wiki/%252771_(film)  Action
..                                                 ...     ...
493     https://en.wikipedia.org/wiki/White_House_Down  Action
500   https://en.wikipedia.org/wiki/World_War_Z_(film)  Action
501  https://en.wikipedia.org/wiki/Wrath_of_the_Titans  Action
502    https://en.wikipedia.org/wiki/X-Men:_Apocalypse  Action
503  https://en.wikipedia.org/wiki/X-Men:_Days_of_F...  Action

           Director (1)  Director (2)          Cast (1)            Cast (2)  \
1           Michael Bay             0  James Badge Dale      John Krasinski
2     Baltasar Kormákur             0     Mark Wahlberg   Denzel Washington
4             Phil Lord  Chris Miller    Channing Tatum          Jonah Hill
5            Noam Murro             0   Rodrigo Santoro           Eva Green
7          Yann Demange             0    Jack O'Connell      Richard Dormer
..                  ...           ...               ...                 ...
493     Roland Emmerich             0    Channing Tatum          Jamie Foxx
500        Marc Forster             0         Brad Pitt       Mireille Enos
501  Jonathan Liebesman             0   Sam Worthington         Liam Neeson
502        Bryan Singer             0      James McAvoy  Michael Fassbender
503        Bryan Singer             0      Hugh Jackman        James McAvoy

               Cast (3)          Cast (4)            Cast (5)  \
1         Toby Stephens   Pablo Schreiber         Max Martini
2          Paula Patton       Bill Paxton  Edward James Olmos
4              Ice Cube                 0                   0
5    Sullivan Stapleton     Hans Matheson         Lena Headey
7           Sean Harris          Sam Reid                   0
..                  ...               ...                 ...
493   Maggie Gyllenhaal       James Woods     Richard Jenkins
500    James Badge Dale  Daniella Kertesz         Matthew Fox
501       Ralph Fiennes     Edgar Ramirez       Rosamund Pike
502   Jennifer Lawrence       Oscar Isaac      Nicholas Hoult
503  Michael Fassbender       Halle Berry   Jennifer Lawrence

             Budget           Revenue
1     $45,000,000.00   $69,400,000.00
2     $61,000,000.00  $131,900,000.00
4     $84,500,000.00  $331,300,000.00
5    $110,000,000.00  $337,600,000.00
7      $8,100,000.00    $2,900,000.00
..               ...              ...
493  $150,000,000.00  $205,000,000.00
500  $190,000,000.00  $540,000,000.00
501  $150,000,000.00  $305,300,000.00
502  $178,000,000.00  $544,600,000.00
503  $200,000,000.00  $747,900,000.00

[120 rows x 13 columns]
Adventure
                                   Movie Title Release Date  \
17                         A Walk in the Woods   2015-01-23
42                                     Ben-Hur   2016-08-19
98                      Embrace of the Serpent   2015-05-15
102                                       Epic   2013-05-24
147                  Ice Age: Collision Course   2016-07-22
148                 Ice Age: Continental Drift   2012-07-13
156                             Into the Storm   2014-08-08
168           Journey 2: The Mysterious Island   2012-02-10
196                                        Max   2015-06-26
227                                       Noah   2014-03-10
250             Percy Jackson: Sea of Monsters   2013-08-07
280                      Rise of the Guardians   2012-11-21
300                      Shaun the Sheep Movie   2015-01-24
354                                 The Croods   2013-03-22
359            The Divergent Series: Allegiant   2016-03-18
380  The Hobbit: The Battle of the Five Armies   2014-12-01
435                    The Secret Life of Pets   2016-07-08
436               The Secret World of Arrietty   2012-02-17
440                               The Smurfs 2   2013-07-31
442   The SpongeBob Movie: Sponge Out of Water   2015-02-06
479                                   Vacation   2015-07-29

                                         Wikipedia URL      Genre  \
17   https://en.wikipedia.org/wiki/A_Walk_in_the_Wo...  Adventure
42   https://en.wikipedia.org/wiki/Ben-Hur_(2016_film)  Adventure
98   https://en.wikipedia.org/wiki/Embrace_of_the_S...  Adventure
102     https://en.wikipedia.org/wiki/Epic_(2013_film)  Adventure
147  https://en.wikipedia.org/wiki/Ice_Age:_Collisi...  Adventure
148  https://en.wikipedia.org/wiki/Ice_Age:_Contine...  Adventure
156  https://en.wikipedia.org/wiki/Into_the_Storm_(...  Adventure
168  https://en.wikipedia.org/wiki/Journey_2:_The_M...  Adventure
196      https://en.wikipedia.org/wiki/Max_(2015_film)  Adventure
227     https://en.wikipedia.org/wiki/Noah_(2014_film)  Adventure
250  https://en.wikipedia.org/wiki/Percy_Jackson:_S...  Adventure
280  https://en.wikipedia.org/wiki/Rise_of_the_Guar...  Adventure
300  https://en.wikipedia.org/wiki/Shaun_the_Sheep_...  Adventure
354           https://en.wikipedia.org/wiki/The_Croods  Adventure
359  https://en.wikipedia.org/wiki/The_Divergent_Se...  Adventure
380  https://en.wikipedia.org/wiki/The_Hobbit:_The_...  Adventure
435  https://en.wikipedia.org/wiki/The_Secret_Life_...  Adventure
436             https://en.wikipedia.org/wiki/Arrietty  Adventure
440         https://en.wikipedia.org/wiki/The_Smurfs_2  Adventure
442  https://en.wikipedia.org/wiki/The_SpongeBob_Mo...  Adventure
479  https://en.wikipedia.org/wiki/Vacation_(2015_f...  Adventure

           Director (1)        Director (2)                 Cast (1)  \
17           Ken Kwapis                   0           Robert Redford
42    Timur Bekmambetov                   0              Jack Huston
98          Ciro Guerra                   0              Jan Bijvoet
102         Chris Wedge                   0            Colin Farrell
147      Mike Thurmeier        Galen T. Chu               Ray Romano
148       Steve Martino      Mike Thurmeier               Ray Romano
156        Steven Quale                   0         Richard Armitage
168         Brad Peyton                   0           Dwayne Johnson
196          Boaz Yakin                   0             Josh Wiggins
227    Darren Aronofsky                   0            Russell Crowe
250    Thor Freudenthal                   0             Logan Lerman
280        Peter Ramsey                   0               Chris Pine
300         Mark Burton                   0          Justin Fletcher
354       Chris Sanders        Kirk DeMicco             Nicolas Cage
359    Robert Schwentke                   0         Shailene Woodley
380       Peter Jackson                   0             Ian McKellen
435        Chris Renaud       Yarrow Cheney               Louis C.K.
436       Gary Rydstrom                   0              Will Arnett
440        Raja Gosnell                   0      Neil Patrick Harris
442        Paul Tibbitt      Jonathan Aibel  Paul Tibbitt (director)
479  John Francis Daley  Jonathan Goldstein                 Ed Helms

                Cast (2)                  Cast (3)          Cast (4)  \
17            Nick Nolte             Emma Thompson                 0
42        Morgan Freeman              Toby Kebbell   Rodrigo Santoro
98         Nilbio Torres           Antonio Bolívar                 0
102      Josh Hutcherson           Amanda Seyfried    Jason Sudeikis
147       John Leguizamo               Denis Leary     Queen Latifah
148       John Leguizamo               Denis Leary     Queen Latifah
156       Jeremy Sumpter       Sarah Wayne Callies      Nathan Kress
168        Michael Caine           Josh Hutcherson   Vanessa Hudgens
196  Thomas Haden Church             Lauren Graham                 0
227    Jennifer Connelly              Logan Lerman       Emma Watson
250   Alexandra Daddario             Douglas Smith     Mary Birdsong
280         Alec Baldwin              Hugh Jackman       Isla Fisher
300         John Sparkes                         0                 0
354        Ryan Reynolds                Emma Stone  Catherine Keener
359           Theo James               Naomi Watts      Jeff Daniels
380       Martin Freeman          Richard Armitage  Evangeline Lilly
435     Eric Stonestreet                Kevin Hart     Albert Brooks
436          Amy Poehler             Carol Burnett   Bridgit Mendler
440           Jayma Mays               Hank Azaria          Tim Gunn
442       Jonathan Aibel  Glenn Berger(screenplay)  Antonio Banderas
479  Christina Applegate               Leslie Mann   Chris Hemsworth

                Cast (5)          Budget           Revenue
17                     0    $8,000,000.00   $36,000,000.00
42       Nazanin Boniadi  $100,000,000.00   $41,400,000.00
98                     0    $1,400,000.00    $2,800,000.00
102      Christoph Waltz   $93,000,000.00  $268,400,000.00
147       Jennifer Lopez  $105,000,000.00  $368,300,000.00
148  Seann William Scott   $95,000,000.00  $877,000,000.00
156                    0   $50,000,000.00  $161,700,000.00
168          Luis Guzmán   $79,000,000.00  $335,300,000.00
196                    0   $20,000,000.00   $44,000,000.00
227         Ray Winstone  $125,000,000.00  $362,600,000.00
250  Yvette Nicole Brown   $90,000,000.00  $202,200,000.00
280             Jude Law  $145,000,000.00  $306,900,000.00
300                    0   $25,000,000.00  $106,000,000.00
354           Clark Duke  $135,000,000.00  $587,200,000.00
359         Ansel Elgort  $110,000,000.00  $179,200,000.00
380           Luke Evans  $250,000,000.00  $956,000,000.00
435      Hannibal Buress   $75,000,000.00  $724,900,000.00
436         David Henrie   $23,000,000.00  $145,600,000.00
440      Brendan Gleeson  $105,000,000.00  $347,500,000.00
442            Tom Kenny   $74,000,000.00  $323,400,000.00
479          Charlie Day   $31,000,000.00  $104,900,000.00
Animation
              Movie Title Release Date  \
138                  Home   2015-03-07
317  Stand by Me Doraemon   2014-08-08
420     The Peanuts Movie   2015-11-01

                                         Wikipedia URL      Genre  \
138  https://en.wikipedia.org/wiki/Home_(2015_anima...  Animation
317  https://en.wikipedia.org/wiki/Stand_by_Me_Dora...  Animation
420    https://en.wikipedia.org/wiki/The_Peanuts_Movie  Animation

         Director (1)  Director (2)       Cast (1)      Cast (2)  \
138       Tim Johnson             0    Jim Parsons       Rihanna
317  Takashi Yamazaki  Ryuichi Yagi  Wasabi Mizuta  Megumi Ohara
420     Steve Martino             0  Bill Melendez  Noah Schnapp

                Cast (3)       Cast (4)       Cast (5)          Budget   \
138       Jennifer Lopez   Steve Martin     Matt Jones  $135,000,000.00
317          Yumi Kakazu  Tomokazu Seki  Subaru Kimura   $35,000,000.00
420  Hadley Belle Miller       AJ Teece  Noah Johnston   $99,000,000.00

             Revenue
138  $386,000,000.00
317  $196,400,000.00
420  $246,200,000.00
Biography
                  Movie Title Release Date  \
6                          42   2013-04-12
27                        Amy   2015-06-16
44                   Big Eyes   2014-12-25
62          Chasing Mavericks   2012-10-26
110   Florence Foster Jenkins   2016-04-27
132            Hands of Stone   2016-08-26
151   In the Heart of the Sea   2015-12-11
166                      Jobs   2013-08-16
215           My All American   2015-11-13
247            Pawn Sacrifice   2015-09-11
320                Steve Jobs   2015-09-05
321    Straight Outta Compton   2015-08-11
339             The Big Short   2015-12-11
444  The Theory of Everything   2014-09-07
450                  The Walk   2015-09-30

                                         Wikipedia URL      Genre  \
6              https://en.wikipedia.org/wiki/42_(film)  Biography
27       https://en.wikipedia.org/wiki/Amy_(2015_film)  Biography
44              https://en.wikipedia.org/wiki/Big_Eyes  Biography
62     https://en.wikipedia.org/wiki/Chasing_Mavericks  Biography
110  https://en.wikipedia.org/wiki/Florence_Foster_...  Biography
132       https://en.wikipedia.org/wiki/Hands_of_Stone  Biography
151  https://en.wikipedia.org/wiki/In_the_Heart_of_...  Biography
166          https://en.wikipedia.org/wiki/Jobs_(film)  Biography
215      https://en.wikipedia.org/wiki/My_All_American  Biography
247       https://en.wikipedia.org/wiki/Pawn_Sacrifice  Biography
320  https://en.wikipedia.org/wiki/Steve_Jobs_(2015...  Biography
321  https://en.wikipedia.org/wiki/Straight_Outta_C...  Biography
339  https://en.wikipedia.org/wiki/The_Big_Short_(f...  Biography
444  https://en.wikipedia.org/wiki/The_Theory_of_Ev...  Biography
450  https://en.wikipedia.org/wiki/The_Walk_(2015_f...  Biography

             Director (1)   Director (2)              Cast (1)  \
6         Brian Helgeland              0         Harrison Ford
27           Asif Kapadia              0         Amy Winehouse
44             Tim Burton              0             Amy Adams
62          Curtis Hanson  Michael Apted         Gerard Butler
110        Stephen Frears              0          Meryl Streep
132   Jonathan Jakubowicz              0         Édgar Ramírez
151            Ron Howard              0       Chris Hemsworth
166  Joshua Michael Stern              0        Ashton Kutcher
215          Angelo Pizzo              0         Aaron Eckhart
247              Ed Zwick              0         Tobey Maguire
320           Danny Boyle              0    Michael Fassbender
321          F. Gary Gray              0        O'Shea Jackson
339            Adam McKay              0        Religious Bale
444           James Marsh              0        Eddie Redmayne
450       Robert Zemeckis              0  Joseph Gordon-Levitt

               Cast (2)            Cast (3)           Cast (4)  \
6      Chadwick Boseman  Christopher Meloni      Ryan Merriman
27   Mitchell Winehouse     Janis Winehouse       Raye Cosbert
44      Christoph Waltz      Krysten Ritter       Danny Huston
62         Jonny Weston      Elisabeth Shue    Abigail Spencer
110          Hugh Grant       Simon Helberg       Nina Arianda
132      Robert De Niro               Usher       Ellen Barkin
151     Benjamin Walker      Cillian Murphy        Tom Holland
166     Dermot Mulroney            Josh Gad         Lukas Haas
215       Finn Wittrock        Robin Tunney       Sarah Bolger
247      Liev Schreiber     Peter Sarsgaard  Michael Stuhlbarg
320          Seth Rogen        Kate Winslet       Jeff Daniels
321                 Jr.       Corey Hawkins     Jason Mitchell
339        Steve Carell        Ryan Gosling          Brad Pitt
444      Felicity Jones                   0                  0
450        Ben Kingsley    James Badge Dale   Charlotte Le Bon

                 Cast (5)          Budget           Revenue
6           Andre Holland   $40,000,000.00   $97,500,000.00
27         Nick Shymansky    $3,400,000.00   $22,000,000.00
44          Terence Stamp   $10,000,000.00   $29,300,000.00
62                      0   $20,000,000.00    $8,300,000.00
110      Rebecca Ferguson   $19,000,000.00   $31,700,000.00
132          Ana de Armas   $20,000,000.00    $1,700,000.00
151           Ben Whishaw  $100,000,000.00   $93,900,000.00
166          J.K. Simmons   $12,000,000.00   $35,900,000.00
215  Michael Reilly Burke   $20,000,000.00    $2,200,000.00
247             Lily Rabe   $19,000,000.00    $5,400,000.00
320   Katherine Waterston   $30,000,000.00   $34,400,000.00
321           Aldis Hodge   $50,000,000.00  $201,600,000.00
339           Melissa Leo   $28,000,000.00  $133,300,000.00
444                     0   $15,000,000.00  $123,700,000.00
450                     0   $45,000,000.00   $61,200,000.00
Comedy
                              Movie Title Release Date  \
3                          21 Jump Street   2012-03-16
10                        A Haunted House   2013-01-11
11                      A Haunted House 2   2014-04-18
12                        A Long Way Down   2014-02-10
15                       A Thousand Words   2012-03-09
..                                    ...          ...
477                   Unfinished Business   2015-03-06
483                            Wanderlust   2012-02-24
487                           Warm Bodies   2013-02-01
489  What to Expect When You're Expecting   2012-05-18
507                           Zoolander 2   2016-02-12

                                         Wikipedia URL   Genre  \
3    https://en.wikipedia.org/wiki/21_Jump_Street_(...  Comedy
10   https://en.wikipedia.org/wiki/A_Haunted_House_...  Comedy
11     https://en.wikipedia.org/wiki/A_Haunted_House_2  Comedy
12   https://en.wikipedia.org/wiki/A_Long_Way_Down_...  Comedy
15   https://en.wikipedia.org/wiki/A_Thousand_Words...  Comedy
..                                                 ...     ...
477  https://en.wikipedia.org/wiki/Unfinished_Busin...  Comedy
483  https://en.wikipedia.org/wiki/Wanderlust_(2012...  Comedy
487   https://en.wikipedia.org/wiki/Warm_Bodies_(film)  Comedy
489  https://en.wikipedia.org/wiki/What_to_Expect_W...  Comedy
507          https://en.wikipedia.org/wiki/Zoolander_2  Comedy

        Director (1)  Director (2)        Cast (1)          Cast (2)  \
3          Phil Lord  Chris Miller      Jonah Hill    Channing Tatum
10    Michael Tiddes             0   Marlon Wayans     Nick Swardson
11    Michael Tiddes             0   Marlon Wayans     Jaime Pressly
12   Pascal Chaumeil             0   Toni Collette    Pierce Brosnan
15     Brian Robbins             0    Eddie Murphy  Kerry Washington
..               ...           ...             ...               ...
477        Ken Scott             0    Vince Vaughn     Tom Wilkinson
483       David Wain             0       Paul Rudd  Jennifer Aniston
487  Jonathan Levine             0  Nicholas Hoult     Teresa Palmer
489       Kirk Jones             0    Cameron Diaz    Jennifer Lopez
507      Ben Stiller             0     Ben Stiller       Owen Wilson

             Cast (3)                Cast (4)                Cast (5)  \
3            Ice Cube             Brie Larson              Rob Riggle
10     David Koechner          Essence Atkins  Cedric the Entertainer
11     Essence Atkins  Cedric the Entertainer        Gabriel Iglesias
12         Aaron Paul            Imogen Poots                       0
15       Cliff Curtis              Clark Duke          Allison Janney
..                ...                     ...                     ...
477       Dave Franco           Sienna Miller              Nick Frost
483     Malin Akerman          Justin Theroux              Ken Marino
487       Rob Corddry          John Malkovich         Analeigh Tipton
489   Brooklyn Decker         Elizabeth Banks           Anna Kendrick
507  Christine Taylor            Will Ferrell           Penélope Cruz

            Budget           Revenue
3    $55,000,000.00  $201,500,000.00
10    $2,500,000.00   $60,100,000.00
11    $4,000,000.00   $24,000,000.00
12   $22,700,000.00    $7,100,000.00
15   $40,000,000.00   $22,000,000.00
..              ...              ...
477  $35,000,000.00   $14,400,000.00

In [35]:
g.get_group('Comedy')

,Movie Title,Release Date,Wikipedia URL,Genre,Director (1),Director (2),Cast (1),Cast (2),Cast (3),Cast (4),Cast (5),Budget,Revenue
3,21 Jump Street,2012-03-16,https://en.wikipedia.org/wiki/21_Jump_Street_(...,Comedy,Phil Lord,Chris Miller,Jonah Hill,Channing Tatum,Ice Cube,Brie Larson,Rob Riggle,"$55,000,000.00","$201,500,000.00"
10,A Haunted House,2013-01-11,https://en.wikipedia.org/wiki/A_Haunted_House_...,Comedy,Michael Tiddes,0,Marlon Wayans,Nick Swardson,David Koechner,Essence Atkins,Cedric the Entertainer,"$2,500,000.00","$60,100,000.00"
11,A Haunted House 2,2014-04-18,https://en.wikipedia.org/wiki/A_Haunted_House_2,Comedy,Michael Tiddes,0,Marlon Wayans,Jaime Pressly,Essence Atkins,Cedric the Entertainer,Gabriel Iglesias,"$4,000,000.00","$24,000,000.00"
12,A Long Way Down,2014-02-10,https://en.wikipedia.org/wiki/A_Long_Way_Down_...,Comedy,Pascal Chaumeil,0,Toni Collette,Pierce Brosnan,Aaron Paul,Imogen Poots,0,"$22,700,000.00","$7,100,000.00"
15,A Thousand Words,2012-03-09,https://en.wikipedia.org/wiki/A_Thousand_Words...,Comedy,Brian Robbins,0,Eddie Murphy,Kerry Washington,Cliff Curtis,Clark Duke,Allison Janney,"$40,000,000.00","$22,000,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,Unfinished Business,2015-03-06,https://en.wikipedia.org/wiki/Unfinished_Busin...,Comedy,Ken Scott,0,Vince Vaughn,Tom Wilkinson,Dave Franco,Sienna Miller,Nick Frost,"$35,000,000.00","$14,400,000.00"
483,Wanderlust,2012-02-24,https://en.wikipedia.org/wiki/Wanderlust_(2012...,Comedy,David Wain,0,Paul Rudd,Jennifer Aniston,Malin Akerman,Justin Theroux,Ken Marino,"$35,000,000.00","$24,200,000.00"
487,Warm Bodies,2013-02-01,https://en.wikipedia.org/wiki/Warm_Bodies_(film),Comedy,Jonathan Levine,0,Nicholas Hoult,Teresa Palmer,Rob Corddry,John Malkovich,Analeigh Tipton,"$35,000,000.00","$117,000,000.00"
489,What to Expect When You're Expecting,2012-05-18,https://en.wikipedia.org/wiki/What_to_Expect_W...,Comedy,Kirk Jones,0,Cameron Diaz,Jennifer Lopez,Brooklyn Decker,Elizabeth Banks,Anna Kendrick,"$40,000,000.00","$84,400,000.00"
507,Zoolander 2,2016-02-12,https://en.wikipedia.org/wiki/Zoolander_2,Comedy,Ben Stiller,0,Ben Stiller,Owen Wilson,Christine Taylor,Will Ferrell,Penélope Cruz,"$50,000,000.00","$56,000,000.00"

In [36]:
g.max()

C:\Users\maity\AppData\Local\Temp/ipykernel_18240/557829741.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  g.max()

,Movie Title,Release Date,Wikipedia URL,Director (1),Cast (1),Budget,Revenue
Genre,,,,,,,
Action,X-Men: Days of Future Past,2016-08-26,https://en.wikipedia.org/wiki/X-Men:_Days_of_F...,Zack Snyder,Zoey Deutch,"$94,000,000.00","$99,800,000.00"
Adventure,Vacation,2016-08-19,https://en.wikipedia.org/wiki/Vacation_(2015_f...,Timur Bekmambetov,Will Arnett,"$95,000,000.00","$956,000,000.00"
Animation,The Peanuts Movie,2015-11-01,https://en.wikipedia.org/wiki/The_Peanuts_Movie,Tim Johnson,Wasabi Mizuta,"$99,000,000.00","$386,000,000.00"
Biography,The Walk,2016-08-26,https://en.wikipedia.org/wiki/The_Walk_(2015_f...,Tim Burton,Édgar Ramírez,"$50,000,000.00","$97,500,000.00"
Comedy,Zoolander 2,2016-08-05,https://en.wikipedia.org/wiki/Zoolander_2,Woody Allen,Zachary Gordon,"$95,000,000.00","$970,800,000.00"
Crime,War Dogs,2016-08-19,https://en.wikipedia.org/wiki/War_Dogs_(2016_f...,Zal Batmanglij,Tyler Perry,"$75,000,000.00","$84,900,000.00"
Documentary,One Direction: This Is Us,2013-08-29,https://en.wikipedia.org/wiki/One_Direction:_T...,Morgan Spurlock,Harry Styles,"$10,000,000.00","$68,500,000.00"
Drama,Zero Dark Thirty,2016-07-13,https://en.wikipedia.org/wiki/Zero_Dark_Thirty,Zach Braff,Zach Braff,"$9,600,000.00","$99,400,000.00"
Family,The Oogieloves in the Big Balloon Adventure,2014-11-14,https://en.wikipedia.org/wiki/The_Oogieloves_i...,Simon J. Smith,Winter,"$78,000,000.00","$99,800,000.00"
Fantasy,The Twilight Saga: Breaking Dawn – Part 2,2016-08-19,https://en.wikipedia.org/wiki/The_Twilight_Sag...,Travis Knight,Viola Davis,"$95,000,000.00","$829,700,000.00"
Horror,You're Next,2016-07-22,https://en.wikipedia.org/wiki/You%2527re_Next,William Brent Bell,Teresa Palmer,"$99,500,000.00","$98,500,000.00"
Musical,Rock of Ages,2015-10-23,https://en.wikipedia.org/wiki/Rock_of_Ages_(20...,Tom Hooper,Julianne Hough,"$75,000,000.00","$59,400,000.00"
Mystery,Veronica Mars,2015-05-16,https://en.wikipedia.org/wiki/Veronica_Mars_(f...,Woody Allen,Nicole Kidman,"$61,000,000.00","$68,600,000.00"
Religious,When the Game Stands Tall,2016-04-01,https://en.wikipedia.org/wiki/When_the_Game_St...,Vic Armstrong,Willie Robertson,"$5,000,000.00","$62,600,000.00"
Romance,Zhong Kui: Snow Girl and the Dark Crystal,2016-03-25,https://en.wikipedia.org/wiki/Zhong_Kui:_Snow_...,Valérie Donzelli,Vikram,"$7,000,000.00","$88,900,000.00"
Sci-Fi,Transcendence,2016-04-29,https://en.wikipedia.org/wiki/Transcendence_(2...,William Eubank,Sharlto Copley,"$85,000,000.00","$89,300,000.00"
Thriller,The Revenant,2016-08-26,https://en.wikipedia.org/wiki/The_Revenant_(20...,Roger Donaldson,Sean Penn,"$90,000,000.00","$60,300,000.00"

In [37]:
g.min()

C:\Users\maity\AppData\Local\Temp/ipykernel_18240/3597954327.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  g.min()

,Movie Title,Release Date,Wikipedia URL,Director (1),Cast (1),Budget,Revenue
Genre,,,,,,,
Action,13 Hours: The Secret Soldiers of Benghazi,2012-01-27,https://en.wikipedia.org/wiki/%252771_(film),Aleksander Bach,Aaron Paul,"$1,100,000.00","$100,300,000.00"
Adventure,A Walk in the Woods,2012-02-10,https://en.wikipedia.org/wiki/A_Walk_in_the_Wo...,Boaz Yakin,Chris Pine,"$1,400,000.00","$104,900,000.00"
Animation,Home,2014-08-08,https://en.wikipedia.org/wiki/Home_(2015_anima...,Steve Martino,Bill Melendez,"$135,000,000.00","$196,400,000.00"
Biography,42,2012-10-26,https://en.wikipedia.org/wiki/42_(film),Adam McKay,Aaron Eckhart,"$10,000,000.00","$1,700,000.00"
Comedy,21 Jump Street,2012-02-24,https://en.wikipedia.org/wiki/21_Jump_Street_(...,Akiva Schaffer,Adam Sandler,"$10,000,000.00","$100,500,000.00"
Crime,A Walk Among the Tombstones,2012-01-27,https://en.wikipedia.org/wiki/A_Walk_Among_the...,Andrew Dominik,Ben Affleck,"$13,200,000.00","$122,100,000.00"
Documentary,One Direction: This Is Us,2013-08-29,https://en.wikipedia.org/wiki/One_Direction:_T...,Morgan Spurlock,Harry Styles,"$10,000,000.00","$68,500,000.00"
Drama,90 Minutes in Heaven,2012-01-20,https://en.wikipedia.org/wiki/90_Minutes_in_He...,Akiva Goldsman,Adam Greaves-Neal,"$1,000,000.00","$1,000,000.00"
Family,Cloudy with a Chance of Meatballs 2,2012-03-02,https://en.wikipedia.org/wiki/Cloudy_with_a_Ch...,Anthony Stacchi,Anna Faris,"$103,000,000.00","$1,100,000.00"
Fantasy,Beautiful Creatures,2012-03-30,https://en.wikipedia.org/wiki/Beautiful_Creatu...,Bill Condon,Adam Sandler,"$115,000,000.00","$107,100,000.00"
Horror,Abraham Lincoln: Vampire Hunter,2012-01-06,https://en.wikipedia.org/wiki/Abraham_Lincoln:...,Adam Wingard,Adelaide Clemens,"$1,000,000.00","$1,000,000.00"
Musical,Battle of the Year,2012-06-15,https://en.wikipedia.org/wiki/Battle_of_the_Ye...,Adam Shankman,Aubrey Peeples,"$20,000,000.00","$16,500,000.00"
Mystery,Before I Go to Sleep,2013-03-15,https://en.wikipedia.org/wiki/Before_I_Go_to_S...,Brad Anderson,Abigail Breslin,"$11,000,000.00","$15,100,000.00"
Religious,God's Not Dead,2014-03-21,https://en.wikipedia.org/wiki/God%2527s_Not_De...,Andrew Erwin and Jon Erwin,Greg Kinnear,"$12,000,000.00","$10,500,000.00"
Romance,Aloha,2012-01-27,https://en.wikipedia.org/wiki/Aloha_(film),Bille Woodruff,Blake Lively,"$1,500,000.00","$10,400,000.00"
Sci-Fi,After Earth,2012-02-03,https://en.wikipedia.org/wiki/After_Earth,Alan Taylor,Arnold Schwarzenegger,"$100,000,000.00","$1,600,000.00"
Thriller,10 Cloverfield Lane,2012-04-27,https://en.wikipedia.org/wiki/10_Cloverfield_Lane,Alejandro G. Iñárritu,Dave Franco,"$13,000,000.00","$108,300,000.00"

In [38]:
g.mean()

Empty DataFrame
Columns: []
Index: [Action, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Horror, Musical, Mystery, Religious, Romance, Sci-Fi, Thriller]

In [39]:
india_weather= pd.DataFrame({
    'city':["mumbai","delhi","banglore"],
    'temperature':[32,45,30],
    "humidity":[80,60,78]
})
india_weather

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

In [40]:
US_weather= pd.DataFrame({
    'city':["new york","chicago","orlando"],
    'temperature':[21,14,35],
    "humidity":[68,78,75]
})
US_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        78
2   orlando           35        75

In [41]:
df_city = pd.concat([india_weather,US_weather],ignore_index=True)
df_city

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
3  new york           21        68
4   chicago           14        78
5   orlando           35        75

In [42]:
df_city = pd.concat([india_weather,US_weather], keys=["india","US"])
df_city

             city  temperature  humidity
india 0    mumbai           32        80
      1     delhi           45        60
      2  banglore           30        78
US    0  new york           21        68
      1   chicago           14        78
      2   orlando           35        75

In [43]:
df_city.loc["india"]

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

In [44]:
df_temp= pd.DataFrame({
    'city':["new york","chicago","orlando"],
    'temperature':[21,14,35]
    })
df_temp

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35

In [45]:
df_windspeed =pd.DataFrame({
    'city':["new york","chicago","orlando"],
    'windspeed':[25,40,12]
    })
df_windspeed

       city  windspeed
0  new york         25
1   chicago         40
2   orlando         12

In [46]:
df5=pd.concat([df_temp,df_windspeed],axis=1,)
df5

       city  temperature      city  windspeed
0  new york           21  new york         25
1   chicago           14   chicago         40
2   orlando           35   orlando         12

In [47]:
s=pd.Series(['Rain',"dry","sunny"],name = "event")
s

0     Rain
1      dry
2    sunny
Name: event, dtype: object

In [48]:
df6 = pd.concat([df_temp,s],axis = 1)
df6

       city  temperature  event
0  new york           21   Rain
1   chicago           14    dry
2   orlando           35  sunny

In [49]:
df_humidity =pd.DataFrame({
    'city':["new york","chicago","orlando"],
    "humidity":[68,78,75]
    })
df_humidity

       city  humidity
0  new york        68
1   chicago        78
2   orlando        75

In [50]:
df7=pd.merge(df_temp,df_humidity,on="city",how="inner",indicator=True)
df7

       city  temperature  humidity _merge
0  new york           21        68   both
1   chicago           14        78   both
2   orlando           35        75   both

In [51]:
df6.pivot(index='city',columns='event')

         temperature
event           Rain   dry sunny
city
chicago          NaN  14.0   NaN
new york        21.0   NaN   NaN
orlando          NaN   NaN  35.0

In [59]:
df_city

             city  temperature  humidity
india 0    mumbai           32        80
      1     delhi           45        60
      2  banglore           30        78
US    0  new york           21        68
      1   chicago           14        78
      2   orlando           35        75

In [62]:
df_city.pivot_table(index='city',columns='temperature')

            humidity
temperature       14    21    30    32    35    45
city
banglore         NaN   NaN  78.0   NaN   NaN   NaN
chicago         78.0   NaN   NaN   NaN   NaN   NaN
delhi            NaN   NaN   NaN   NaN   NaN  60.0
mumbai           NaN   NaN   NaN  80.0   NaN   NaN
new york         NaN  68.0   NaN   NaN   NaN   NaN
orlando          NaN   NaN   NaN   NaN  75.0   NaN

In [63]:
# df_city["date"]=pd.to_datetime(df_city['date])

# df_city.pivot_table(index=pd.Grouper(freq='M',key='Date'),columns = 'city')