In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('mercedesbenz.csv',usecols=['X1','X2','X3','X4','X5','X6'])
data.head()

In [ ]:
# how many labels in each column
for col in data.columns:
    print(col,':',len(data[col].unique()), "labels")

In [ ]:
# examining how many columns we weill obtain after one hot encoding these variables
pd.get_dummies(data,drop_first=True).shape

### mysql

In [4]:
import mysql.connector as conn
import pandas as pd
df = pd.read_csv('G:\My Drive\Projects\iNeuron_internship_BA_1\DATA\wine_reviews_small.csv')
df[["points", "price"]] = df[["points", "price"]].astype(float)
df.to_csv('G:\My Drive\Projects\iNeuron_internship_BA_1\DATA\wine_reviews_small_clean.csv')

In [5]:
# Set connection to MySQL
mydb = conn.connect(host= 'localhost', user='root',passwd = 'absm1827', database = "myschema1")
cursor = mydb.cursor()
cursor.execute('show tables')
cursor.fetchall()

# Create empty table in MySQL
query1 = """create table myschema1.wine_reviews_data(
country               text,
description           text,
designation           text,
points                float,
price                 float,
province              text,
region_1              text,
region_2              text,
taster_name           text,
taster_twitter_handle text,
title                 text,
variety               text,
winery                text)"""
cursor = mydb.cursor()
cursor.execute(query1)

# Check if table is created
cursor.execute('show tables')
cursor.fetchall()

[('wine_reviews_data',)]