In [1]:
import sys
import platform
print(f"Executable Python: {sys.executable}")
print(f"Python Version: {platform.python_version()}")

#To show multiple outputs and misc. changes
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # Show all results without print (last_expr)

Executable Python: C:\Users\maity\.conda\envs\aku_mldl\python.exe
Python Version: 3.9.6

# **9/5/21**
---

## *Python*

In [2]:
print("this is my first class")

this is my first class

In [3]:
print("hello world")

hello world

In [4]:
1+2

3

In [5]:
3**4

81

In [6]:
a =1
b= 4**5

In [7]:
a 
b

1

1024

In [8]:
type(a)

int

In [9]:
c=6.7

In [10]:
type(c)

float

In [11]:
a1=5+7j

In [12]:
type(a1)

complex

In [13]:
def test():
    """ this is my docstring test)"""

    return True

# **9/11/21**
---

### *Variables*
---

In [14]:
a=10

In [15]:
a

10

In [16]:
type(a)

int

In [17]:
b="aku"

In [18]:
type(b)

str

In [19]:
c= 'aku'

In [20]:
type(c)

str

In [21]:
a=10
b=20
a+b

30

In [22]:
a*b

200

In [23]:
f=45.67
type(f)

float

In [24]:
c=7+7j   # j represents a complex imaginary number so c = real+imaginary number

In [25]:
type(c)

complex

In [26]:
c.real # to extract real number from the complex number

7.0

In [27]:
c.imag # to extract imaginary number from complex number

7.0

In [28]:
s="hello"

In [29]:
"1" + "hello"

'1hello'

In [30]:
str(1) + " hello" #this is a function for type casting

'1 hello'

In [31]:
s = "Hello this is ineuron class"

In [32]:
s[0]

'H'

In [33]:
s[-1]

's'

In [34]:
s[:5]

'Hello'

In [35]:
s[-6:]

' class'

In [36]:
s[5:90]

' this is ineuron class'

In [37]:
s[0:20:2] # [start:end:jump]

'Hloti sier'

In [38]:
s[::-1]

'ssalc norueni si siht olleH'

In [39]:
s[::-3]

'slnuiii l'

In [40]:
s[0:7:-1] # the start and end point is contradicting the jump direction and hence there is no value result

''

In [41]:
s[5::-1]

' olleH'

## *List*
---

In [42]:
s = "bdscuh oijsdoihdfh jdh"

In [43]:
len(s)

22

In [44]:
"aku" + " aku" # this is concatination of strings meaning it joins both string together

'aku aku'

In [45]:
"aku " * 10

'aku aku aku aku aku aku aku aku aku aku '

In [46]:
a= True
b = False

In [47]:
type(a)
type(b)

bool

bool

In [48]:
True - True # true has a value of 1 while false has a value of 0

0

In [49]:
True - False

1

In [50]:
False - False

0

In [51]:
True/True

1.0

In [52]:
True/False

ZeroDivisionError: division by zero

In [53]:
True*True

1

In [54]:
True*False

0

In [55]:
import numpy as np

np.asanyarray([0,1])/0

C:\Users\maity\AppData\Local\Temp/ipykernel_10880/992079976.py:3: RuntimeWarning: divide by zero encountered in true_divide
  np.asanyarray([0,1])/0
C:\Users\maity\AppData\Local\Temp/ipykernel_10880/992079976.py:3: RuntimeWarning: invalid value encountered in true_divide
  np.asanyarray([0,1])/0

array([nan, inf])

In [56]:
aku = [1,2,3,4,5]

In [57]:
l=["hi",5,"apple",4.2,"orange",6.4j]  # many lists can be nested inside another a list can have any number of lists strings complex or any type of data

In [58]:
type(l)

list

In [59]:
type(aku)

list

In [60]:
l[2]

'apple'

In [61]:
l[2:]

['apple', 4.2, 'orange', 6.4j]

In [62]:
l[-1]

6.4j

In [63]:
l[-2:]

['orange', 6.4j]

In [64]:
l[::-1]

[6.4j, 'orange', 4.2, 'apple', 5, 'hi']

In [65]:
l[2][::-1]

'elppa'

In [66]:
l[-2][::1]

'orange'

In [67]:
a=[1,2,3,4]
a.append("hello")

In [68]:
a

[1, 2, 3, 4, 'hello']

In [69]:
a * 4

[1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello']

## *Range*
---

In [70]:
range(10)

range(0, 10)

In [71]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
list(range(4,20))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [73]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [74]:
list(range(-3,-13,-1))

[-3, -4, -5, -6, -7, -8, -9, -10, -11, -12]

In [75]:
a= input() # by default the input is string

In [76]:
a

'45'

In [77]:
type(a)

str

In [78]:
b= int(input("enter a number = "))   # to have it as an integer we need to type cast the input function into int

In [79]:
b

36

In [80]:
type(b)

int

In [81]:
a=10
b=20
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

## *Tuples*
---

In [82]:
a=10
b=20
c="aku"
d=[1,2,3,4]

In [83]:
a,b,c,d = 10,20,"aku",[1,2,3,4]

In [84]:
t = (10,20,"aku",[1,2,3,4])

In [85]:
t[1]

20

In [86]:
t[2]

'aku'

In [87]:
t[:3]

(10, 20, 'aku')

In [88]:
type(t)

tuple

In [89]:
t[::-1]

([1, 2, 3, 4], 'aku', 20, 10)

In [90]:
# tuples ar immutable that means the values can not be changed inside a tuple under any circumstances

In [91]:
l[0]="hello"

In [92]:
l

['hello', 5, 'apple', 4.2, 'orange', 6.4j]

# **9/12/21**
---

## **Flow Control**
---

### *IF-ELIF-ELSE*
---

In [93]:
a = 10
if a :
    print("this is value of a: ")

this is value of a:

In [95]:
a=25
if a >20:
    print("test: ")

test:

In [98]:
a =10
if a > 20:
    pass
# pass is used for just continueing and passing the command instead of writing a task or body wheather the condition is true or false

In [100]:
a=25
if a < 20:
    print("statement is true")
else:
    print("statement is false")

statement is false

In [104]:
a = 20
if a <20:
    print("this is 1st condition")
elif a == 20:
    print("my 2nd condition")
else:
    print("my 3rd statement")

my 2nd condition

In [105]:
a = 20
if a <20:
    print("this is 1st condition")
elif type(a)==int:
    print("checking type of var")
elif a == 20:
    print("my 2nd condition")
else:
    print("my 3rd statement")

checking type of var

In [107]:
discount = int(input("how much discount is avaialble?"))
if discount == 50:
    print("you can buy all the items listed in row 1")
elif discount == 30:
    print("you can buy all the items from row 2")
elif discount == 20:
    print("send user to row 3")
elif discount > 10:
    print("send user to row 4")
else:
    print("there is no item available")

send user to row 4

In [110]:
income = 1200
if income > 1000:
    print("eligible for platinum card")
elif income > 800:
    print("eligible for gold card")
else:
    print("base card only")

eligible for platinum card

In [116]:
# nested if statements there can be any number of nested statements
income = 6000
if income > 1000:
    print("eligible for platinum card")
    if income<=2000:
        print("eligible for more benefits")
    elif income <=5000:
        print("no annual fees on the card")
    else:
        print("additional add-on card")

elif income > 800:
    print("eligible for gold card")
else:
    print("base card only")

eligible for platinum card
additional add-on card

In [117]:
val = 10
if val ==10: print("this is 10")

this is 10

### *FOR-LOOP*
---

In [118]:
list1 = [1,2,3,4,5,6,7,8,9]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [120]:
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9

In [122]:
list2=["hello",45.6,[123,"hi","world"], (4,9,2) , 89,"world"]

In [123]:
for i in list2:
    print(i)

hello
45.6
[123, 'hi', 'world']
(4, 9, 2)
89
world

In [129]:
for i in list2:
    if type(i) == str:
        print(i)

hello
world

In [131]:
for i in list2:
    if type(i)==list:
        print(i[1])

hi

In [132]:
list2

['hello', 45.6, [123, 'hi', 'world'], (4, 9, 2), 89, 'world']

In [133]:
for i in list2:
    if type(i)==list:
        print(i[::])

[123, 'hi', 'world']

In [134]:
s= "Siddharth Maity"
for i in s:
    print(i+"2")

S2
i2
d2
d2
h2
a2
r2
t2
h2
 2
M2
a2
i2
t2
y2

In [136]:
# testing with tuples
t=(1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [137]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [142]:
for i in list2:
    if type(i)==list or type(i)==tuple or type(i)==str:
        print(i)

hello
[123, 'hi', 'world']
(4, 9, 2)
world

In [144]:
for i in list2:
    if type(i)==list and type(i)==tuple or type(i)==str:
        print(i)
    else:
        print("its not possible")

hello
its not possible
its not possible
its not possible
its not possible
world

In [145]:
# nested for loop
list2

['hello', 45.6, [123, 'hi', 'world'], (4, 9, 2), 89, 'world']

In [152]:
for i in list2:
    #print(i)
    if type(i)==list or type(i)==tuple:
        print(i)
        for j in i:
            print(j)

[123, 'hi', 'world']
123
hi
world
(4, 9, 2)
4
9
2

In [154]:
n=7
for i in range(n):
    print("*"*i)

*
**
***
****
*****
******

In [162]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end="_")
    print("")

*_
*_*_
*_*_*_
*_*_*_*_
*_*_*_*_*_

### Task 1

In [177]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    print("* "*i)
for i in range(n-1,0,-1):
    print(" "*(n-i),end="")
    print("* "*i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

### Task 2

In [204]:
l1 = [[1,2,2,3,3,4],[2,3,2,3,4],[1,5,5,8,8,6]]

In [205]:
l1

[[1, 2, 2, 3, 3, 4], [2, 3, 2, 3, 4], [1, 5, 5, 8, 8, 6]]

In [206]:
count = 0
for elements in l1:
    count = len(elements)  
    print(count)

6
5
6

In [207]:
l1

[[1, 2, 2, 3, 3, 4], [2, 3, 2, 3, 4], [1, 5, 5, 8, 8, 6]]

In [243]:
l1 = [[1,2,2,3,3,4],[2,3,2,3,4],[1,5,5,8,8,6]]
num =1

for inner_list in l1:
    print("nested list:",num)
    num +=1

    dict1 = {}
    for i in inner_list:
        if i not in dict1:
            dict1[i] = 1
        else:
            dict1[i] += 1
    
    for j in dict1:
        if dict1[j] != 1:
            print(j, "==>", dict1[j])

            
    print("********")

nested list: 1
2 ==> 2
3 ==> 2
********
nested list: 2
2 ==> 2
3 ==> 2
********
nested list: 3
5 ==> 2
8 ==> 2
********

In [232]:
dict1

{1: 1, 5: 1, 8: 1, 6: 1}

In [228]:
dict1

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [252]:
l2 = [[3,6,4,3,2,2],[1,1,4,2,3,3],[2,2,5,5,4,4]]
num=1
for innerlist in l2:
    print("list:",num)
    num +=1

    dict2={}
    for i in innerlist:
        if i not in dict2:
            dict2[i] =1
        else:
            dict2[i]+=1
    for j in dict2:
        if dict2[j] !=1:
            print(j,"=>",dict2[j])

    print("****************")

list: 1
3 => 2
2 => 2
****************
list: 2
1 => 2
3 => 2
****************
list: 3
2 => 2
5 => 2
4 => 2
****************

# **09/18/21**
---

### **While Loop**
---

In [6]:
l = [1,2,3,4,5,'sudh']
for i in l:
    if type(i) == str:
        print(i)
else:
    print("successfull")

sudh
successfull

In [5]:
i=1
n=5
while i <n:
    print(i)
    i=i+1
else:
    print("successfull")

1
2
3
4
successfull

In [8]:
x=1
while x<10:
    print(x)
    if x==5:
        break
    x=x+1
else:
    print("successfull")

1
2
3
4
5

In [12]:
s= "akanchha"
for i in s:
    print(i)
    if i== "c":
        break
else:
    print("success")

a
k
a
n
c

In [16]:
i=4
n=10
while i < n:
    print(i)
    if i ==6:
        pass
    i=i+1

4
5
6
7
8
9

In [17]:
l =["aku","bagla",3,4,5,6,7]
for i in l:
    if i == 5:
        continue
    print(i)

aku
bagla
3
4
6
7

In [18]:
s= "ineuron"
len(s)

7

In [22]:
s.find('eu')

2

In [23]:
s.count('n')

2

In [26]:
d= 'fhrhurfrdfs'
d.count('f')

3

In [27]:
d.split('h')

['f', 'r', 'urfrdfs']

In [28]:
s.upper()

'INEURON'

In [29]:
s.lower()

'ineuron'

In [30]:
s.title()

'Ineuron'

In [31]:
s.swapcase()

'INEURON'

In [32]:
s.capitalize()

'Ineuron'

In [33]:
list(reversed(s))

['n', 'o', 'r', 'u', 'e', 'n', 'i']

In [34]:
s[::-1]

'norueni'

In [35]:
s.strip()   # returns a copy of string after removing leading and trailing white spaces

'ineuron'

In [36]:
d="   ffhuhf "
d.lstrip()

'ffhuhf '

In [37]:
d.rstrip()

'   ffhuhf'

In [38]:
d.strip()

'ffhuhf'

In [45]:
"--".join("welcome to ineuron")

'w--e--l--c--o--m--e-- --t--o-- --i--n--e--u--r--o--n'

In [46]:
d.replace("f","h")

'   hhhuhh '

In [48]:
s.center(20,'*')

'******ineuron*******'

In [50]:
'aku\tbagla'.expandtabs()

'aku     bagla'

In [57]:
s
s.islower()

True

In [59]:
s=' '
s.isspace()

True

In [61]:
s="ineuron"
print(s.endswith('n'))
s.startswith('b')

True

False

In [63]:
s=" My name is Aku"
for i in s:
    print(i)

M
y

n
a
m
e

i
s

A
k
u

In [68]:
s="Ineuron"
list1=[]
i=len(s)-1
while i>=0:
    list1.append(s[i])
    i=i-1
print(list1)

['n', 'o', 'r', 'u', 'e', 'n', 'I']

In [69]:
s="ineuron"
l=len(s)-1
while l >=0:
    print(s[l])
    l=l-1

n
o
r
u
e
n
i

In [73]:
i="Aku"
print("my {} is {}".format("name",i))

my name is Aku

In [74]:
l=[1,2,3,4,"aku","bagla"]
len(l)

6

In [75]:
"bagla" in l

True

In [76]:
1 in l

True

In [80]:
l.append("hello")

In [81]:
print(l)

[1, 2, 3, 4, 'aku', 'bagla', 'hello']

In [87]:
l.pop()

'hello'

In [88]:
l

[1, 2, 4, 'aku', 'bagla']

In [89]:
l.pop(1)

2

In [90]:
l

[1, 4, 'aku', 'bagla']

In [91]:
l.reverse()

In [92]:
l

['bagla', 'aku', 4, 1]

In [93]:
l.insert(2,"hello")

In [94]:
l

['bagla', 'aku', 'hello', 4, 1]

In [95]:
l.remove("bagla")

In [96]:
l

['aku', 'hello', 4, 1]

In [97]:
l1 =[7,8,9,"bagla"]
l+l1

['aku', 'hello', 4, 1, 7, 8, 9, 'bagla']

In [98]:
l.append(l1)

In [99]:
l

['aku', 'hello', 4, 1, [7, 8, 9, 'bagla']]

In [100]:
l.insert(-1,l1)

In [101]:
l

['aku', 'hello', 4, 1, [7, 8, 9, 'bagla'], [7, 8, 9, 'bagla']]

In [102]:
l.extend(l1)

In [103]:
l

['aku',
 'hello',
 4,
 1,
 [7, 8, 9, 'bagla'],
 [7, 8, 9, 'bagla'],
 7,
 8,
 9,
 'bagla']

In [107]:
for i in s:
    print(i)

i
n
e
u
r
o
n

In [109]:
l=[1,2,3,4,5] # square of each element
l1 =[]
for i in l:
    l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25]

In [110]:
[i**2 for i in l]

[1, 4, 9, 16, 25]

In [114]:
s = 'sudh'
[i for i in s]  # comprehensive operation approach

['s', 'u', 'd', 'h']

In [122]:
# try to create a seperate list with even and odd number of size 10 and perform element wise addition operation
l1=[i for i in range(2,20,2)] # even 
l2=[j for j in range(1,20,2)] # odd
l3=[]
for i in range(len(l1)):
    l3.append(l1[i]+l2[j])
print(l3)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# write a list of comprehensive operation for generating all the list of alphabetical characters in upper and lower case
# write a code for pelindrome by using while statement
# write a code to check sort your string in alphabetical order.dont use sort function

# **09/19/21**
---

## **Tuples**
---

In [123]:
t = (1,2,2,5,6,7,"aku","ineuron")
t[0]

1

In [124]:
t[0:4]

(1, 2, 2, 5)

In [125]:
t.count(2)

2

In [126]:
t.count("aku")

1

In [127]:
t.index("aku")

6

In [128]:
t.index(5)

3

In [129]:
del(t)

## **Set**
---

In [131]:
s=set()

In [132]:
s.add(3)
s.add("aku")
s.add(2)
s.add(2)

In [133]:
s  # it only creates a set with unique data. It also removes any duplicates if present.

{2, 3, 'aku'}

In [136]:
s1 ={2,2,3,5,5,6,4,8,9,9}
s2 ={"aku",'aku',"Aku"}
print(s1)
s2

{2, 3, 4, 5, 6, 8, 9}

{'Aku', 'aku'}

In [138]:
l1=[2,2,2,2,4,56,7,8,8,8,8,5,4]

In [139]:
set(l1)

{2, 4, 5, 7, 8, 56}

In [141]:
s2 = set()
for i in l1:
    if type(i) != list:
        s2.add(i)
s2

{2, 4, 5, 7, 8, 56}

In [142]:
s2.remove(56)

In [143]:
s2

{2, 4, 5, 7, 8}

In [144]:
s2.discard(5)
s2

{2, 4, 7, 8}

In [145]:
x={"ineuron","machine","learning"}
y={"stats","deep learning","ineuron","computer vision"}
type(x)
type(y)

set

In [146]:
x.difference(y)

{'learning', 'machine'}

In [147]:
y.difference(x)

{'computer vision', 'deep learning', 'stats'}

In [148]:
for i in x:
    print(i)

learning
ineuron
machine

In [151]:
#x[0] # set object can not be indexed or sliced or an eelement cannot be extracted seperately

In [155]:
list(x)

['learning', 'ineuron', 'machine']

## **Dictionaries**
---

In [156]:
d={"key":"value"}
type(d)

dict

In [160]:
d={"aku":"wife","sid":"husband","job":"data analyst"}

#### value can be of any type tuple,list,strings etc
#### keys cannot be special characters,list,set but can be tuples,"_"can be used because it is like a placeholder
#### keys cannot be duplicated it will only hold a unique value but value can be duplicated

In [164]:
d["job"]

'data analyst'

In [165]:
d1={1:"aku",2:"bagla",3:["ML","DL","oops","exception handeling"],4:"aku"}

In [166]:
d1

{1: 'aku',
 2: 'bagla',
 3: ['ML', 'DL', 'oops', 'exception handeling'],
 4: 'aku'}

In [168]:
d1[3]

['ML', 'DL', 'oops', 'exception handeling']

In [176]:
d2={"k1":"ineuron","k2":"Ml","k3":{1:"aku",2:{"a":"bagla","b":"maity"},3:"data analysis"}}

In [177]:
d2["k3"][2]["b"]

'maity'

In [181]:
d2["k2"]="machine learning" # replacign a value of a particular key if key already exsists if not it will create a new key value pair

In [182]:
d2

{'k1': 'ineuron',
 'k2': 'machine learning',
 'k3': {1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'}}

In [183]:
for i in d2:
    print(i)

k1
k2
k3

In [185]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [186]:
d2.values()

dict_values(['ineuron', 'machine learning', {1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'}])

In [188]:
d2.items()

dict_items([('k1', 'ineuron'), ('k2', 'machine learning'), ('k3', {1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'})])

In [191]:
list(d2.keys())[1]

'k2'

In [195]:
for i in d2.keys():
    if type(d2[i])==dict:
        print(d2[i])

{1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'}

In [199]:
d3 = {}
for i in range(11):
    d3[i] = i**2

In [200]:
d3

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [202]:
{i: i**2 for i in range(11)} # dictionary comprehension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [203]:
s= "ineuron"
{i:"ineuron" for i in s}

{'i': 'ineuron',
 'n': 'ineuron',
 'e': 'ineuron',
 'u': 'ineuron',
 'r': 'ineuron',
 'o': 'ineuron'}

In [213]:
d4 = {"ineuron":{"a":23,"b":34,"c":56},"course":{"d":45,"e":12}} # doesnot work incase of more key value pair 
max=0
for i in d4.values():
    for j in i.values():
        if (max<j):
            max=j
print(max)

56

In [222]:
d4 = {"ineuron":{"a":23,"b":34,"c":56},"course":{"d":45,"e":12},"xyz":99}
max = 0
for i in d4.values():
    if type(i)== int:
        if max<i:
            max=i
    else:
        for j in i.values():
            if j>max:
                max = j
print(max)

99

In [232]:
d5 = {"ineuron":{"a":23,"b":34,"c":56},"course":{"d":45,"e":12},"xyz":99,"a":[1,2,3,4,789]}
max = 0
for i in d5.values():
    if max<i:
        max=i
    elif max>i:
        max=i
    else:
        for j in i.values():
            if j>max:
                max = j

print(max)

TypeError: '<' not supported between instances of 'int' and 'dict'

In [233]:
# write a code to find max value where the values can be of any type dict,list,set,tuple,boolean,float number etc