In [ ]:
import sys
import platform
print(f"Executable Python: {sys.executable}")
print(f"Python Version: {platform.python_version()}")

#To show multiple outputs and misc. changes
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # Show all results without print (last_expr)

Executable Python: C:\Users\maity\.conda\envs\aku_mldl\python.exe
Python Version: 3.9.6

# **9/5/21**
---

## *Python*

In [ ]:
print("this is my first class")

this is my first class

In [ ]:
print("hello world")

hello world

In [ ]:
1+2

3

In [ ]:
3**4

81

In [ ]:
a =1
b= 4**5

In [ ]:
a 
b

1

1024

In [ ]:
type(a)

int

In [ ]:
c=6.7

In [ ]:
type(c)

float

In [ ]:
a1=5+7j

In [ ]:
type(a1)

complex

In [ ]:
def test():
    """ this is my docstring test)"""

    return True

# **9/11/21**
---

### *Variables*
---

In [ ]:
a=10

In [ ]:
a

10

In [ ]:
type(a)

int

In [ ]:
b="aku"

In [ ]:
type(b)

str

In [ ]:
c= 'aku'

In [ ]:
type(c)

str

In [ ]:
a=10
b=20
a+b

30

In [ ]:
a*b

200

In [ ]:
f=45.67
type(f)

float

In [ ]:
c=7+7j   # j represents a complex imaginary number so c = real+imaginary number

In [ ]:
type(c)

complex

In [ ]:
c.real # to extract real number from the complex number

7.0

In [ ]:
c.imag # to extract imaginary number from complex number

7.0

In [ ]:
s="hello"

In [ ]:
"1" + "hello"

'1hello'

In [ ]:
str(1) + " hello" #this is a function for type casting

'1 hello'

In [ ]:
s = "Hello this is ineuron class"

In [ ]:
s[0]

'H'

In [ ]:
s[-1]

's'

In [ ]:
s[:5]

'Hello'

In [ ]:
s[-6:]

' class'

In [ ]:
s[5:90]

' this is ineuron class'

In [37]:
s[0:20:2] # [start:end:jump]

'Hloti sier'

In [38]:
s[::-1]

'ssalc norueni si siht olleH'

In [39]:
s[::-3]

'slnuiii l'

In [40]:
s[0:7:-1] # the start and end point is contradicting the jump direction and hence there is no value result

''

In [41]:
s[5::-1]

' olleH'

## *List*
---

In [42]:
s = "bdscuh oijsdoihdfh jdh"

In [43]:
len(s)

22

In [44]:
"aku" + " aku" # this is concatination of strings meaning it joins both string together

'aku aku'

In [45]:
"aku " * 10

'aku aku aku aku aku aku aku aku aku aku '

In [46]:
a= True
b = False

In [47]:
type(a)
type(b)

bool

bool

In [48]:
True - True # true has a value of 1 while false has a value of 0

0

In [49]:
True - False

1

In [50]:
False - False

0

In [51]:
True/True

1.0

In [52]:
True/False

ZeroDivisionError: division by zero

In [53]:
True*True

1

In [54]:
True*False

0

In [55]:
import numpy as np

np.asanyarray([0,1])/0

C:\Users\maity\AppData\Local\Temp/ipykernel_16092/992079976.py:3: RuntimeWarning: divide by zero encountered in true_divide
  np.asanyarray([0,1])/0
C:\Users\maity\AppData\Local\Temp/ipykernel_16092/992079976.py:3: RuntimeWarning: invalid value encountered in true_divide
  np.asanyarray([0,1])/0

array([nan, inf])

In [56]:
aku = [1,2,3,4,5]

In [57]:
l=["hi",5,"apple",4.2,"orange",6.4j]  # many lists can be nested inside another a list can have any number of lists strings complex or any type of data

In [58]:
type(l)

list

In [59]:
type(aku)

list

In [60]:
l[2]

'apple'

In [61]:
l[2:]

['apple', 4.2, 'orange', 6.4j]

In [62]:
l[-1]

6.4j

In [63]:
l[-2:]

['orange', 6.4j]

In [64]:
l[::-1]

[6.4j, 'orange', 4.2, 'apple', 5, 'hi']

In [65]:
l[2][::-1]

'elppa'

In [66]:
l[-2][::1]

'orange'

In [67]:
a=[1,2,3,4]
a.append("hello")

In [68]:
a

[1, 2, 3, 4, 'hello']

In [69]:
a * 4

[1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello']

## *Range*
---

In [70]:
range(10)

range(0, 10)

In [71]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
list(range(4,20))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [73]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [74]:
list(range(-3,-13,-1))

[-3, -4, -5, -6, -7, -8, -9, -10, -11, -12]

In [75]:
a= input() # by default the input is string

In [76]:
a

'45'

In [77]:
type(a)

str

In [78]:
b= int(input("enter a number = "))   # to have it as an integer we need to type cast the input function into int

In [79]:
b

65

In [80]:
type(b)

int

In [81]:
a=10
b=20
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

## *Tuples*
---

In [82]:
a=10
b=20
c="aku"
d=[1,2,3,4]

In [83]:
a,b,c,d = 10,20,"aku",[1,2,3,4]

In [84]:
t = (10,20,"aku",[1,2,3,4])

In [85]:
t[1]

20

In [86]:
t[2]

'aku'

In [87]:
t[:3]

(10, 20, 'aku')

In [88]:
type(t)

tuple

In [89]:
t[::-1]

([1, 2, 3, 4], 'aku', 20, 10)

In [90]:
# tuples ar immutable that means the values can not be changed inside a tuple under any circumstances

In [91]:
l[0]="hello"

In [92]:
l

['hello', 5, 'apple', 4.2, 'orange', 6.4j]

# **9/12/21**
---

## **Flow Control**
---

### *IF-ELIF-ELSE*
---

In [93]:
a = 10
if a :
    print("this is value of a: ")

this is value of a:

In [94]:
a=25
if a >20:
    print("test: ")

test:

In [95]:
a =10
if a > 20:
    pass
# pass is used for just continueing and passing the command instead of writing a task or body wheather the condition is true or false

In [96]:
a=25
if a < 20:
    print("statement is true")
else:
    print("statement is false")

statement is false

In [97]:
a = 20
if a <20:
    print("this is 1st condition")
elif a == 20:
    print("my 2nd condition")
else:
    print("my 3rd statement")

my 2nd condition

In [98]:
a = 20
if a <20:
    print("this is 1st condition")
elif type(a)==int:
    print("checking type of var")
elif a == 20:
    print("my 2nd condition")
else:
    print("my 3rd statement")

checking type of var

In [99]:
discount = int(input("how much discount is avaialble?"))
if discount == 50:
    print("you can buy all the items listed in row 1")
elif discount == 30:
    print("you can buy all the items from row 2")
elif discount == 20:
    print("send user to row 3")
elif discount > 10:
    print("send user to row 4")
else:
    print("there is no item available")

you can buy all the items listed in row 1

In [100]:
income = 1200
if income > 1000:
    print("eligible for platinum card")
elif income > 800:
    print("eligible for gold card")
else:
    print("base card only")

eligible for platinum card

In [101]:
# nested if statements there can be any number of nested statements
income = 6000
if income > 1000:
    print("eligible for platinum card")
    if income<=2000:
        print("eligible for more benefits")
    elif income <=5000:
        print("no annual fees on the card")
    else:
        print("additional add-on card")

elif income > 800:
    print("eligible for gold card")
else:
    print("base card only")

eligible for platinum card
additional add-on card

In [102]:
val = 10
if val ==10: print("this is 10")

this is 10

### *FOR-LOOP*
---

In [103]:
list1 = [1,2,3,4,5,6,7,8,9]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9

In [105]:
list2=["hello",45.6,[123,"hi","world"], (4,9,2) , 89,"world"]

In [106]:
for i in list2:
    print(i)

hello
45.6
[123, 'hi', 'world']
(4, 9, 2)
89
world

In [107]:
for i in list2:
    if type(i) == str:
        print(i)

hello
world

In [108]:
for i in list2:
    if type(i)==list:
        print(i[1])

hi

In [109]:
list2

['hello', 45.6, [123, 'hi', 'world'], (4, 9, 2), 89, 'world']

In [110]:
for i in list2:
    if type(i)==list:
        print(i[::])

[123, 'hi', 'world']

In [111]:
s= "Siddharth Maity"
for i in s:
    print(i+"2")

S2
i2
d2
d2
h2
a2
r2
t2
h2
 2
M2
a2
i2
t2
y2

In [112]:
# testing with tuples
t=(1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [113]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [114]:
for i in list2:
    if type(i)==list or type(i)==tuple or type(i)==str:
        print(i)

hello
[123, 'hi', 'world']
(4, 9, 2)
world

In [115]:
for i in list2:
    if type(i)==list and type(i)==tuple or type(i)==str:
        print(i)
    else:
        print("its not possible")

hello
its not possible
its not possible
its not possible
its not possible
world

In [116]:
# nested for loop
list2

['hello', 45.6, [123, 'hi', 'world'], (4, 9, 2), 89, 'world']

In [117]:
for i in list2:
    #print(i)
    if type(i)==list or type(i)==tuple:
        print(i)
        for j in i:
            print(j)

[123, 'hi', 'world']
123
hi
world
(4, 9, 2)
4
9
2

In [118]:
n=7
for i in range(n):
    print("*"*i)

*
**
***
****
*****
******

In [119]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end="_")
    print("")

*_
*_*_
*_*_*_
*_*_*_*_
*_*_*_*_*_

### Task 1

In [120]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    print("* "*i)
for i in range(n-1,0,-1):
    print(" "*(n-i),end="")
    print("* "*i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

### Task 2

In [121]:
l1 = [[1,2,2,3,3,4],[2,3,2,3,4],[1,5,5,8,8,6]]

In [122]:
l1

[[1, 2, 2, 3, 3, 4], [2, 3, 2, 3, 4], [1, 5, 5, 8, 8, 6]]

In [123]:
count = 0
for elements in l1:
    count = len(elements)  
    print(count)

6
5
6

In [124]:
l1

[[1, 2, 2, 3, 3, 4], [2, 3, 2, 3, 4], [1, 5, 5, 8, 8, 6]]

In [125]:
l1 = [[1,2,2,3,3,4],[2,3,2,3,4],[1,5,5,8,8,6]]
num =1

for inner_list in l1:
    print("nested list:",num)
    num +=1

    dict1 = {}
    for i in inner_list:
        if i not in dict1:
            dict1[i] = 1
        else:
            dict1[i] += 1
    
    for j in dict1:
        if dict1[j] != 1:
            print(j, "==>", dict1[j])

            
    print("********")

nested list: 1
2 ==> 2
3 ==> 2
********
nested list: 2
2 ==> 2
3 ==> 2
********
nested list: 3
5 ==> 2
8 ==> 2
********

In [126]:
dict1

{1: 1, 5: 2, 8: 2, 6: 1}

In [127]:
dict1

{1: 1, 5: 2, 8: 2, 6: 1}

In [128]:
l2 = [[3,6,4,3,2,2],[1,1,4,2,3,3],[2,2,5,5,4,4]]
num=1
for innerlist in l2:
    print("list:",num)
    num +=1

    dict2={}
    for i in innerlist:
        if i not in dict2:
            dict2[i] =1
        else:
            dict2[i]+=1
    for j in dict2:
        if dict2[j] !=1:
            print(j,"=>",dict2[j])

    print("****************")

list: 1
3 => 2
2 => 2
****************
list: 2
1 => 2
3 => 2
****************
list: 3
2 => 2
5 => 2
4 => 2
****************

# **09/18/21**
---

### **While Loop**
---

In [129]:
l = [1,2,3,4,5,'sudh']
for i in l:
    if type(i) == str:
        print(i)
else:
    print("successfull")

sudh
successfull

In [130]:
i=1
n=5
while i <n:
    print(i)
    i=i+1
else:
    print("successfull")

1
2
3
4
successfull

In [131]:
x=1
while x<10:
    print(x)
    if x==5:
        break
    x=x+1
else:
    print("successfull")

1
2
3
4
5

In [132]:
s= "akanchha"
for i in s:
    print(i)
    if i== "c":
        break
else:
    print("success")

a
k
a
n
c

In [133]:
i=4
n=10
while i < n:
    print(i)
    if i ==6:
        pass
    i=i+1

4
5
6
7
8
9

In [134]:
l =["aku","bagla",3,4,5,6,7]
for i in l:
    if i == 5:
        continue
    print(i)

aku
bagla
3
4
6
7

In [135]:
s= "ineuron"
len(s)

7

In [136]:
s.find('eu')

2

In [137]:
s.count('n')

2

In [138]:
d= 'fhrhurfrdfs'
d.count('f')

3

In [139]:
d.split('h')

['f', 'r', 'urfrdfs']

In [140]:
s.upper()

'INEURON'

In [141]:
s.lower()

'ineuron'

In [142]:
s.title()

'Ineuron'

In [143]:
s.swapcase()

'INEURON'

In [144]:
s.capitalize()

'Ineuron'

In [145]:
list(reversed(s))

['n', 'o', 'r', 'u', 'e', 'n', 'i']

In [146]:
s[::-1]

'norueni'

In [147]:
s.strip()   # returns a copy of string after removing leading and trailing white spaces

'ineuron'

In [148]:
d="   ffhuhf "
d.lstrip()

'ffhuhf '

In [149]:
d.rstrip()

'   ffhuhf'

In [150]:
d.strip()

'ffhuhf'

In [151]:
"--".join("welcome to ineuron")

'w--e--l--c--o--m--e-- --t--o-- --i--n--e--u--r--o--n'

In [152]:
d.replace("f","h")

'   hhhuhh '

In [153]:
s.center(20,'*')

'******ineuron*******'

In [154]:
'aku\tbagla'.expandtabs()

'aku     bagla'

In [155]:
s
s.islower()

'ineuron'

True

In [156]:
s=' '
s.isspace()

True

In [157]:
s="ineuron"
print(s.endswith('n'))
s.startswith('b')

True

False

In [158]:
s=" My name is Aku"
for i in s:
    print(i)

M
y

n
a
m
e

i
s

A
k
u

In [159]:
s="Ineuron"
list1=[]
i=len(s)-1
while i>=0:
    list1.append(s[i])
    i=i-1
print(list1)

['n', 'o', 'r', 'u', 'e', 'n', 'I']

In [160]:
s="ineuron"
l=len(s)-1
while l >=0:
    print(s[l])
    l=l-1

n
o
r
u
e
n
i

In [161]:
i="Aku"
print("my {} is {}".format("name",i))

my name is Aku

In [162]:
l=[1,2,3,4,"aku","bagla"]
len(l)

6

In [163]:
"bagla" in l

True

In [164]:
1 in l

True

In [165]:
l.append("hello")

In [166]:
print(l)

[1, 2, 3, 4, 'aku', 'bagla', 'hello']

In [167]:
l.pop()

'hello'

In [168]:
l

[1, 2, 3, 4, 'aku', 'bagla']

In [169]:
l.pop(1)

2

In [170]:
l

[1, 3, 4, 'aku', 'bagla']

In [171]:
l.reverse()

In [172]:
l

['bagla', 'aku', 4, 3, 1]

In [173]:
l.insert(2,"hello")

In [174]:
l

['bagla', 'aku', 'hello', 4, 3, 1]

In [175]:
l.remove("bagla")

In [176]:
l

['aku', 'hello', 4, 3, 1]

In [177]:
l1 =[7,8,9,"bagla"]
l+l1

['aku', 'hello', 4, 3, 1, 7, 8, 9, 'bagla']

In [178]:
l.append(l1)

In [179]:
l

['aku', 'hello', 4, 3, 1, [7, 8, 9, 'bagla']]

In [180]:
l.insert(-1,l1)

In [181]:
l

['aku', 'hello', 4, 3, 1, [7, 8, 9, 'bagla'], [7, 8, 9, 'bagla']]

In [182]:
l.extend(l1)

In [183]:
l

['aku',
 'hello',
 4,
 3,
 1,
 [7, 8, 9, 'bagla'],
 [7, 8, 9, 'bagla'],
 7,
 8,
 9,
 'bagla']

In [184]:
for i in s:
    print(i)

i
n
e
u
r
o
n

In [185]:
l=[1,2,3,4,5] # square of each element
l1 =[]
for i in l:
    l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25]

In [186]:
[i**2 for i in l]

[1, 4, 9, 16, 25]

In [187]:
s = 'sudh'
[i for i in s]  # comprehensive operation approach

['s', 'u', 'd', 'h']

In [188]:
# try to create a seperate list with even and odd number of size 10 and perform element wise addition operation
l1=[i for i in range(2,20,2)] # even 
l2=[j for j in range(1,20,2)] # odd
l3=[]
for i in range(len(l1)):
    l3.append(l1[i]+l2[j])
print(l3)

[11, 13, 15, 17, 19, 21, 23, 25, 27]

In [189]:
# write a list of comprehensive operation for generating all the list of alphabetical characters in upper and lower case
# write a code for pelindrome by using while statement
# write a code to check sort your string in alphabetical order.dont use sort function

# **09/19/21**
---

## **Tuples**
---

In [190]:
t = (1,2,2,5,6,7,"aku","ineuron")
t[0]

1

In [191]:
t[0:4]

(1, 2, 2, 5)

In [192]:
t.count(2)

2

In [193]:
t.count("aku")

1

In [194]:
t.index("aku")

6

In [195]:
t.index(5)

3

In [196]:
del(t)

## **Set**
---

In [197]:
s=set()

In [198]:
s.add(3)
s.add("aku")
s.add(2)
s.add(2)

In [199]:
s  # it only creates a set with unique data. It also removes any duplicates if present.

{2, 3, 'aku'}

In [200]:
s1 ={2,2,3,5,5,6,4,8,9,9}
s2 ={"aku",'aku',"Aku"}
print(s1)
s2

{2, 3, 4, 5, 6, 8, 9}

{'Aku', 'aku'}

In [201]:
l1=[2,2,2,2,4,56,7,8,8,8,8,5,4]

In [202]:
set(l1)

{2, 4, 5, 7, 8, 56}

In [203]:
s2 = set()
for i in l1:
    if type(i) != list:
        s2.add(i)
s2

{2, 4, 5, 7, 8, 56}

In [204]:
s2.remove(56)

In [205]:
s2

{2, 4, 5, 7, 8}

In [206]:
s2.discard(5)
s2

{2, 4, 7, 8}

In [207]:
x={"ineuron","machine","learning"}
y={"stats","deep learning","ineuron","computer vision"}
type(x)
type(y)

set

set

In [208]:
x.difference(y)

{'learning', 'machine'}

In [209]:
y.difference(x)

{'computer vision', 'deep learning', 'stats'}

In [210]:
for i in x:
    print(i)

ineuron
machine
learning

In [211]:
#x[0] # set object can not be indexed or sliced or an eelement cannot be extracted seperately

In [212]:
list(x)

['ineuron', 'machine', 'learning']

## **Dictionaries**
---

In [213]:
d={"key":"value"}
type(d)

dict

In [214]:
d={"aku":"wife","sid":"husband","job":"data analyst"}

#### value can be of any type tuple,list,strings etc
#### keys cannot be special characters,list,set but can be tuples,"_"can be used because it is like a placeholder
#### keys cannot be duplicated it will only hold a unique value but value can be duplicated

In [215]:
d["job"]

'data analyst'

In [216]:
d1={1:"aku",2:"bagla",3:["ML","DL","oops","exception handeling"],4:"aku"}

In [217]:
d1

{1: 'aku',
 2: 'bagla',
 3: ['ML', 'DL', 'oops', 'exception handeling'],
 4: 'aku'}

In [218]:
d1[3]

['ML', 'DL', 'oops', 'exception handeling']

In [219]:
d2={"k1":"ineuron","k2":"Ml","k3":{1:"aku",2:{"a":"bagla","b":"maity"},3:"data analysis"}}

In [220]:
d2["k3"][2]["b"]

'maity'

In [221]:
d2["k2"]="machine learning" # replacign a value of a particular key if key already exsists if not it will create a new key value pair

In [222]:
d2

{'k1': 'ineuron',
 'k2': 'machine learning',
 'k3': {1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'}}

In [223]:
for i in d2:
    print(i)

k1
k2
k3

In [224]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [225]:
d2.values()

dict_values(['ineuron', 'machine learning', {1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'}])

In [226]:
d2.items()

dict_items([('k1', 'ineuron'), ('k2', 'machine learning'), ('k3', {1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'})])

In [227]:
list(d2.keys())[1]

'k2'

In [228]:
for i in d2.keys():
    if type(d2[i])==dict:
        print(d2[i])

{1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'}

In [229]:
d3 = {}
for i in range(11):
    d3[i] = i**2

In [230]:
d3

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [231]:
{i: i**2 for i in range(11)} # dictionary comprehension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [232]:
s= "ineuron"
{i:"ineuron" for i in s}

{'i': 'ineuron',
 'n': 'ineuron',
 'e': 'ineuron',
 'u': 'ineuron',
 'r': 'ineuron',
 'o': 'ineuron'}

In [233]:
d4 = {"ineuron":{"a":23,"b":34,"c":56},"course":{"d":45,"e":12}} # doesnot work incase of more key value pair 
max=0
for i in d4.values():
    for j in i.values():
        if (max<j):
            max=j
print(max)

56

In [234]:
d4 = {"ineuron":{"a":23,"b":34,"c":56},"course":{"d":45,"e":12},"xyz":99}
max = 0
for i in d4.values():
    if type(i)== int:
        if max<i:
            max=i
    else:
        for j in i.values():
            if j>max:
                max = j
print(max)

99

In [235]:
d5 = {"ineuron":{"a":23,"b":34,"c":56},"course":{"d":45,"e":12},"xyz":99,"a":[1,2,3,4,789]}
max = 0
for i in d5.values():
    if max<i:
        max=i
    elif max>i:
        max=i
    else:
        for j in i.values():
            if j>max:
                max = j

print(max)

TypeError: '<' not supported between instances of 'int' and 'dict'

In [ ]:
# write a code to find max value where the values can be of any type dict,list,set,tuple,boolean,float number etc

# **9/25/21**
---

## **functions**
---

In [236]:
l=[3,4,5,6,7]
len(l)

5

In [237]:
print("hello world")

hello world

In [238]:
type(l)

list

In [239]:
def func_test():
    pass

In [240]:
func_test()

In [241]:
def func_test2():
    print("this is my first function")

In [242]:
func_test2()

this is my first function

In [243]:
def func_test3():
    print(1+2)

In [244]:
func_test3()

3

In [245]:
def func_test4(a,b):
    print(a+b)

In [246]:
func_test4("hello"," world")

hello world

In [247]:
func_test4(10,40)

50

In [248]:
func_test4("4"," aku")

4 aku

In [249]:
def func_test5(a,b):
    if type(a)!=str:
        print(str(a) + b)
    else:
        print(a+b)

In [250]:
func_test5(4," aku")

4 aku

In [251]:
def func_test6(a,b):
    if type(a)!=str:
        return str(a) + b
    else:
        return a+b

In [252]:
func_test6(4," Aku") + " Bagla"

'4 Aku Bagla'

In [253]:
def func_test7(a,b,c):
    return a+2,b+3,c+4,a+b+c

In [254]:
n=func_test7(3,4,5)

In [255]:
n

(5, 7, 9, 12)

In [256]:
x,y,z,w = func_test7(3,4,5)

In [257]:
x

5

In [258]:
y

7

In [259]:
z

9

In [260]:
w

12

In [261]:
_,_,_,b=func_test7(3,4,5) # the underscores here are placeholders for variables

In [262]:
b

12

In [263]:
def func_test8(x,y):
    return x+y,x,x**4,x*y

In [264]:
func_test8(3,4)[2]/3

27.0

In [265]:
_,_,a,_ = func_test8(3,4)
a

81

In [266]:
def func_test9(b,v,c):
    d=b*v*c
    f=b+v+c+d
    return d,f

In [267]:
func_test9(4,5,6)

(120, 135)

In [268]:
l=["sudh",3,4,5,"kumar",'a','b',45.65]
def func_list(l):
    """This function returns the number of string variable in the list"""
    c=0
    for x in l:
        if type(x) == str:
          c+=1
    return c

In [269]:
func_list(l) # the above 3 colons used helps to define a docstring i.e what the function does

4

In [270]:
def test1(b=10,c=6):
    return b,c

In [271]:
test1(4)

(4, 6)

In [272]:
test1(c="sudh")

(10, 'sudh')

In [273]:
def test2(b=10,c=6):
    return c

In [274]:
test2("covid")

6

In [275]:
def test3(*args):
    return args

In [276]:
test3("a","b","c",1.28,4,6)

('a', 'b', 'c', 1.28, 4, 6)

In [277]:
def test4(*args):
    con=""
    for i in args:
        if type(i) == str:
            con = con+i
    return con
    # args is a generic variable any word can be used instead of args to pass any number of arguments

In [278]:
test4(1,3,7,'aku',' bagla',' ineuron',45.8)

'aku bagla ineuron'

In [280]:
def test5(*args,a,b,c,d):
    return args,a,b,c,d

test5(5,7,4,8,a=3,b=6,c=9,d=12)

((5, 7, 4, 8), 3, 6, 9, 12)

In [287]:
def test6(**kwargs):
    x=""
    for k,v in kwargs.items():
        if type(v) == str:
            x=x+v
    return x

test6(a=35,b=45,c=55,aku=65,bagla=[1,2,3],d="hello")

'hello'