In [1]:
import sys
import platform
print(f"Executable Python: {sys.executable}")
print(f"Python Version: {platform.python_version()}")

#To show multiple outputs and misc. changes
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # Show all results without print (last_expr)

Executable Python: C:\Users\maity\.conda\envs\aku_mldl\python.exe
Python Version: 3.9.6

# **9/5/21**
---

## *Python*

In [53]:
print("this is my first class")

this is my first class

In [54]:
print("hello world")

hello world

In [55]:
1+2

3

In [56]:
3**4

81

In [57]:
a =1
b= 4**5

In [58]:
a 
b

1

1024

In [59]:
type(a)

int

In [60]:
c=6.7

In [61]:
type(c)

float

In [62]:
a1=5+7j

In [63]:
type(a1)

complex

In [64]:
def test():
    """ this is my docstring test)"""

    return True

# **9/11/21**
---

### *Variables*
---

In [65]:
a=10

In [66]:
a

10

In [67]:
type(a)

int

In [68]:
b="aku"

In [69]:
type(b)

str

In [70]:
c= 'aku'

In [71]:
type(c)

str

In [72]:
a=10
b=20
a+b

30

In [73]:
a*b

200

In [74]:
f=45.67
type(f)

float

In [75]:
c=7+7j   # j represents a complex imaginary number so c = real+imaginary number

In [76]:
type(c)

complex

In [77]:
c.real # to extract real number from the complex number

7.0

In [78]:
c.imag # to extract imaginary number from complex number

7.0

In [79]:
s="hello"

In [80]:
"1" + "hello"

'1hello'

In [81]:
str(1) + " hello" #this is a function for type casting

'1 hello'

In [82]:
s = "Hello this is ineuron class"

In [83]:
s[0]

'H'

In [84]:
s[-1]

's'

In [85]:
s[:5]

'Hello'

In [86]:
s[-6:]

' class'

In [87]:
s[5:90]

' this is ineuron class'

In [88]:
s[0:20:2] # [start:end:jump]

'Hloti sier'

In [89]:
s[::-1]

'ssalc norueni si siht olleH'

In [90]:
s[::-3]

'slnuiii l'

In [91]:
s[0:7:-1] # the start and end point is contradicting the jump direction and hence there is no value result

''

In [92]:
s[5::-1]

' olleH'

## *List*
---

In [93]:
s = "bdscuh oijsdoihdfh jdh"

In [94]:
len(s)

22

In [95]:
"aku" + " aku" # this is concatination of strings meaning it joins both string together

'aku aku'

In [96]:
"aku " * 10

'aku aku aku aku aku aku aku aku aku aku '

In [97]:
a= True
b = False

In [98]:
type(a)
type(b)

bool

bool

In [99]:
True - True # true has a value of 1 while false has a value of 0

0

In [100]:
True - False

1

In [101]:
False - False

0

In [102]:
True/True

1.0

In [103]:
True/False

ZeroDivisionError: division by zero

In [104]:
True*True

1

In [105]:
True*False

0

In [106]:
import numpy as np

np.asanyarray([0,1])/0

C:\Users\maity\AppData\Local\Temp/ipykernel_9436/992079976.py:3: RuntimeWarning: divide by zero encountered in true_divide
  np.asanyarray([0,1])/0
C:\Users\maity\AppData\Local\Temp/ipykernel_9436/992079976.py:3: RuntimeWarning: invalid value encountered in true_divide
  np.asanyarray([0,1])/0

array([nan, inf])

In [107]:
aku = [1,2,3,4,5]

In [108]:
l=["hi",5,"apple",4.2,"orange",6.4j]  # many lists can be nested inside another a list can have any number of lists strings complex or any type of data

In [109]:
type(l)

list

In [110]:
type(aku)

list

In [111]:
l[2]

'apple'

In [112]:
l[2:]

['apple', 4.2, 'orange', 6.4j]

In [113]:
l[-1]

6.4j

In [114]:
l[-2:]

['orange', 6.4j]

In [115]:
l[::-1]

[6.4j, 'orange', 4.2, 'apple', 5, 'hi']

In [116]:
l[2][::-1]

'elppa'

In [117]:
l[-2][::1]

'orange'

In [118]:
a=[1,2,3,4]
a.append("hello")

In [119]:
a

[1, 2, 3, 4, 'hello']

In [120]:
a * 4

[1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello']

## *Range*
---

In [121]:
range(10)

range(0, 10)

In [122]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
list(range(4,20))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [124]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [125]:
list(range(-3,-13,-1))

[-3, -4, -5, -6, -7, -8, -9, -10, -11, -12]

In [126]:
a= input() # by default the input is string

In [127]:
a

'567'

In [128]:
type(a)

str

In [129]:
b= int(input("enter a number = "))   # to have it as an integer we need to type cast the input function into int

In [130]:
b

45

In [131]:
type(b)

int

In [132]:
a=10
b=20
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

## *Tuples*
---

In [133]:
a=10
b=20
c="aku"
d=[1,2,3,4]

In [134]:
a,b,c,d = 10,20,"aku",[1,2,3,4]

In [135]:
t = (10,20,"aku",[1,2,3,4])

In [136]:
t[1]

20

In [137]:
t[2]

'aku'

In [138]:
t[:3]

(10, 20, 'aku')

In [139]:
type(t)

tuple

In [140]:
t[::-1]

([1, 2, 3, 4], 'aku', 20, 10)

In [141]:
# tuples ar immutable that means the values can not be changed inside a tuple under any circumstances

In [142]:
l[0]="hello"

In [143]:
l

['hello', 5, 'apple', 4.2, 'orange', 6.4j]

# **9/12/21**
---

## **Flow Control**
---

### *IF-ELIF-ELSE*
---

In [144]:
a = 10
if a :
    print("this is value of a: ")

this is value of a:

In [145]:
a=25
if a >20:
    print("test: ")

test:

In [146]:
a =10
if a > 20:
    pass
# pass is used for just continueing and passing the command instead of writing a task or body wheather the condition is true or false

In [147]:
a=25
if a < 20:
    print("statement is true")
else:
    print("statement is false")

statement is false

In [148]:
a = 20
if a <20:
    print("this is 1st condition")
elif a == 20:
    print("my 2nd condition")
else:
    print("my 3rd statement")

my 2nd condition

In [149]:
a = 20
if a <20:
    print("this is 1st condition")
elif type(a)==int:
    print("checking type of var")
elif a == 20:
    print("my 2nd condition")
else:
    print("my 3rd statement")

checking type of var

In [150]:
discount = int(input("how much discount is avaialble?"))
if discount == 50:
    print("you can buy all the items listed in row 1")
elif discount == 30:
    print("you can buy all the items from row 2")
elif discount == 20:
    print("send user to row 3")
elif discount > 10:
    print("send user to row 4")
else:
    print("there is no item available")

send user to row 4

In [151]:
income = 1200
if income > 1000:
    print("eligible for platinum card")
elif income > 800:
    print("eligible for gold card")
else:
    print("base card only")

eligible for platinum card

In [152]:
# nested if statements there can be any number of nested statements
income = 6000
if income > 1000:
    print("eligible for platinum card")
    if income<=2000:
        print("eligible for more benefits")
    elif income <=5000:
        print("no annual fees on the card")
    else:
        print("additional add-on card")

elif income > 800:
    print("eligible for gold card")
else:
    print("base card only")

eligible for platinum card
additional add-on card

In [153]:
val = 10
if val ==10: print("this is 10")

this is 10

### *FOR-LOOP*
---

In [154]:
list1 = [1,2,3,4,5,6,7,8,9]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [155]:
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9

In [156]:
list2=["hello",45.6,[123,"hi","world"], (4,9,2) , 89,"world"]

In [157]:
for i in list2:
    print(i)

hello
45.6
[123, 'hi', 'world']
(4, 9, 2)
89
world

In [158]:
for i in list2:
    if type(i) == str:
        print(i)

hello
world

In [159]:
for i in list2:
    if type(i)==list:
        print(i[1])

hi

In [160]:
list2

['hello', 45.6, [123, 'hi', 'world'], (4, 9, 2), 89, 'world']

In [161]:
for i in list2:
    if type(i)==list:
        print(i[::])

[123, 'hi', 'world']

In [162]:
s= "Siddharth Maity"
for i in s:
    print(i+"2")

S2
i2
d2
d2
h2
a2
r2
t2
h2
 2
M2
a2
i2
t2
y2

In [163]:
# testing with tuples
t=(1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [164]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [165]:
for i in list2:
    if type(i)==list or type(i)==tuple or type(i)==str:
        print(i)

hello
[123, 'hi', 'world']
(4, 9, 2)
world

In [166]:
for i in list2:
    if type(i)==list and type(i)==tuple or type(i)==str:
        print(i)
    else:
        print("its not possible")

hello
its not possible
its not possible
its not possible
its not possible
world

In [167]:
# nested for loop
list2

['hello', 45.6, [123, 'hi', 'world'], (4, 9, 2), 89, 'world']

In [168]:
for i in list2:
    #print(i)
    if type(i)==list or type(i)==tuple:
        print(i)
        for j in i:
            print(j)

[123, 'hi', 'world']
123
hi
world
(4, 9, 2)
4
9
2

In [169]:
n=7
for i in range(n):
    print("*"*i)

*
**
***
****
*****
******

In [170]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end="_")
    print("")

*_
*_*_
*_*_*_
*_*_*_*_
*_*_*_*_*_

### Task 1

In [171]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    print("* "*i)
for i in range(n-1,0,-1):
    print(" "*(n-i),end="")
    print("* "*i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

### Task 2

In [172]:
l1 = [[1,2,2,3,3,4],[2,3,2,3,4],[1,5,5,8,8,6]]

In [173]:
l1

[[1, 2, 2, 3, 3, 4], [2, 3, 2, 3, 4], [1, 5, 5, 8, 8, 6]]

In [174]:
count = 0
for elements in l1:
    count = len(elements)  
    print(count)

6
5
6

In [175]:
l1

[[1, 2, 2, 3, 3, 4], [2, 3, 2, 3, 4], [1, 5, 5, 8, 8, 6]]

In [176]:
l1 = [[1,2,2,3,3,4],[2,3,2,3,4],[1,5,5,8,8,6]]
num =1

for inner_list in l1:
    print("nested list:",num)
    num +=1

    dict1 = {}
    for i in inner_list:
        if i not in dict1:
            dict1[i] = 1
        else:
            dict1[i] += 1
    
    for j in dict1:
        if dict1[j] != 1:
            print(j, "==>", dict1[j])

            
    print("********")

nested list: 1
2 ==> 2
3 ==> 2
********
nested list: 2
2 ==> 2
3 ==> 2
********
nested list: 3
5 ==> 2
8 ==> 2
********

In [177]:
dict1

{1: 1, 5: 2, 8: 2, 6: 1}

In [178]:
dict1

{1: 1, 5: 2, 8: 2, 6: 1}

In [179]:
l2 = [[3,6,4,3,2,2],[1,1,4,2,3,3],[2,2,5,5,4,4]]
num=1
for innerlist in l2:
    print("list:",num)
    num +=1

    dict2={}
    for i in innerlist:
        if i not in dict2:
            dict2[i] =1
        else:
            dict2[i]+=1
    for j in dict2:
        if dict2[j] !=1:
            print(j,"=>",dict2[j])

    print("****************")

list: 1
3 => 2
2 => 2
****************
list: 2
1 => 2
3 => 2
****************
list: 3
2 => 2
5 => 2
4 => 2
****************

# **09/18/21**
---

### **While Loop**
---

In [180]:
l = [1,2,3,4,5,'sudh']
for i in l:
    if type(i) == str:
        print(i)
else:
    print("successfull")

sudh
successfull

In [181]:
i=1
n=5
while i <n:
    print(i)
    i=i+1
else:
    print("successfull")

1
2
3
4
successfull

In [182]:
x=1
while x<10:
    print(x)
    if x==5:
        break
    x=x+1
else:
    print("successfull")

1
2
3
4
5

In [183]:
s= "akanchha"
for i in s:
    print(i)
    if i== "c":
        break
else:
    print("success")

a
k
a
n
c

In [184]:
i=4
n=10
while i < n:
    print(i)
    if i ==6:
        pass
    i=i+1

4
5
6
7
8
9

In [185]:
l =["aku","bagla",3,4,5,6,7]
for i in l:
    if i == 5:
        continue
    print(i)

aku
bagla
3
4
6
7

In [186]:
s= "ineuron"
len(s)

7

In [187]:
s.find('eu')

2

In [188]:
s.count('n')

2

In [189]:
d= 'fhrhurfrdfs'
d.count('f')

3

In [190]:
d.split('h')

['f', 'r', 'urfrdfs']

In [191]:
s.upper()

'INEURON'

In [192]:
s.lower()

'ineuron'

In [193]:
s.title()

'Ineuron'

In [194]:
s.swapcase()

'INEURON'

In [195]:
s.capitalize()

'Ineuron'

In [196]:
list(reversed(s))

['n', 'o', 'r', 'u', 'e', 'n', 'i']

In [197]:
s[::-1]

'norueni'

In [198]:
s.strip()   # returns a copy of string after removing leading and trailing white spaces

'ineuron'

In [199]:
d="   ffhuhf "
d.lstrip()

'ffhuhf '

In [200]:
d.rstrip()

'   ffhuhf'

In [201]:
d.strip()

'ffhuhf'

In [202]:
"--".join("welcome to ineuron")

'w--e--l--c--o--m--e-- --t--o-- --i--n--e--u--r--o--n'

In [203]:
d.replace("f","h")

'   hhhuhh '

In [204]:
s.center(20,'*')

'******ineuron*******'

In [205]:
'aku\tbagla'.expandtabs()

'aku     bagla'

In [206]:
s
s.islower()

'ineuron'

True

In [207]:
s=' '
s.isspace()

True

In [208]:
s="ineuron"
print(s.endswith('n'))
s.startswith('b')

True

False

In [209]:
s=" My name is Aku"
for i in s:
    print(i)

M
y

n
a
m
e

i
s

A
k
u

In [210]:
s="Ineuron"
list1=[]
i=len(s)-1
while i>=0:
    list1.append(s[i])
    i=i-1
print(list1)

['n', 'o', 'r', 'u', 'e', 'n', 'I']

In [211]:
s="ineuron"
l=len(s)-1
while l >=0:
    print(s[l])
    l=l-1

n
o
r
u
e
n
i

In [212]:
i="Aku"
print("my {} is {}".format("name",i))

my name is Aku

In [213]:
l=[1,2,3,4,"aku","bagla"]
len(l)

6

In [214]:
"bagla" in l

True

In [215]:
1 in l

True

In [216]:
l.append("hello")

In [217]:
print(l)

[1, 2, 3, 4, 'aku', 'bagla', 'hello']

In [218]:
l.pop()

'hello'

In [219]:
l

[1, 2, 3, 4, 'aku', 'bagla']

In [220]:
l.pop(1)

2

In [221]:
l

[1, 3, 4, 'aku', 'bagla']

In [222]:
l.reverse()

In [223]:
l

['bagla', 'aku', 4, 3, 1]

In [224]:
l.insert(2,"hello")

In [225]:
l

['bagla', 'aku', 'hello', 4, 3, 1]

In [226]:
l.remove("bagla")

In [227]:
l

['aku', 'hello', 4, 3, 1]

In [228]:
l1 =[7,8,9,"bagla"]
l+l1

['aku', 'hello', 4, 3, 1, 7, 8, 9, 'bagla']

In [229]:
l.append(l1)

In [230]:
l

['aku', 'hello', 4, 3, 1, [7, 8, 9, 'bagla']]

In [231]:
l.insert(-1,l1)

In [232]:
l

['aku', 'hello', 4, 3, 1, [7, 8, 9, 'bagla'], [7, 8, 9, 'bagla']]

In [233]:
l.extend(l1)

In [234]:
l

['aku',
 'hello',
 4,
 3,
 1,
 [7, 8, 9, 'bagla'],
 [7, 8, 9, 'bagla'],
 7,
 8,
 9,
 'bagla']

In [235]:
for i in s:
    print(i)

i
n
e
u
r
o
n

In [236]:
l=[1,2,3,4,5] # square of each element
l1 =[]
for i in l:
    l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25]

In [237]:
[i**2 for i in l]

[1, 4, 9, 16, 25]

In [238]:
s = 'sudh'
[i for i in s]  # comprehensive operation approach

['s', 'u', 'd', 'h']

In [239]:
# try to create a seperate list with even and odd number of size 10 and perform element wise addition operation
l1=[i for i in range(2,20,2)] # even 
l2=[j for j in range(1,20,2)] # odd
l3=[]
for i in range(len(l1)):
    l3.append(l1[i]+l2[j])
print(l3)

[11, 13, 15, 17, 19, 21, 23, 25, 27]

In [240]:
# write a list of comprehensive operation for generating all the list of alphabetical characters in upper and lower case
# write a code for pelindrome by using while statement
# write a code to check sort your string in alphabetical order.dont use sort function

# **09/19/21**
---

## **Tuples**
---

In [241]:
t = (1,2,2,5,6,7,"aku","ineuron")
t[0]

1

In [242]:
t[0:4]

(1, 2, 2, 5)

In [243]:
t.count(2)

2

In [244]:
t.count("aku")

1

In [245]:
t.index("aku")

6

In [246]:
t.index(5)

3

In [247]:
del(t)

## **Set**
---

In [248]:
s=set()

In [249]:
s.add(3)
s.add("aku")
s.add(2)
s.add(2)

In [250]:
s  # it only creates a set with unique data. It also removes any duplicates if present.

{2, 3, 'aku'}

In [251]:
s1 ={2,2,3,5,5,6,4,8,9,9}
s2 ={"aku",'aku',"Aku"}
print(s1)
s2

{2, 3, 4, 5, 6, 8, 9}

{'Aku', 'aku'}

In [252]:
l1=[2,2,2,2,4,56,7,8,8,8,8,5,4]

In [253]:
set(l1)

{2, 4, 5, 7, 8, 56}

In [254]:
s2 = set()
for i in l1:
    if type(i) != list:
        s2.add(i)
s2

{2, 4, 5, 7, 8, 56}

In [255]:
s2.remove(56)

In [256]:
s2

{2, 4, 5, 7, 8}

In [257]:
s2.discard(5)
s2

{2, 4, 7, 8}

In [258]:
x={"ineuron","machine","learning"}
y={"stats","deep learning","ineuron","computer vision"}
type(x)
type(y)

set

set

In [259]:
x.difference(y)

{'learning', 'machine'}

In [260]:
y.difference(x)

{'computer vision', 'deep learning', 'stats'}

In [261]:
for i in x:
    print(i)

machine
learning
ineuron

In [262]:
#x[0] # set object can not be indexed or sliced or an eelement cannot be extracted seperately

In [263]:
list(x)

['machine', 'learning', 'ineuron']

## **Dictionaries**
---

In [264]:
d={"key":"value"}
type(d)

dict

In [265]:
d={"aku":"wife","sid":"husband","job":"data analyst"}

#### value can be of any type tuple,list,strings etc
#### keys cannot be special characters,list,set but can be tuples,"_"can be used because it is like a placeholder
#### keys cannot be duplicated it will only hold a unique value but value can be duplicated

In [266]:
d["job"]

'data analyst'

In [267]:
d1={1:"aku",2:"bagla",3:["ML","DL","oops","exception handeling"],4:"aku"}

In [268]:
d1

{1: 'aku',
 2: 'bagla',
 3: ['ML', 'DL', 'oops', 'exception handeling'],
 4: 'aku'}

In [269]:
d1[3]

['ML', 'DL', 'oops', 'exception handeling']

In [270]:
d2={"k1":"ineuron","k2":"Ml","k3":{1:"aku",2:{"a":"bagla","b":"maity"},3:"data analysis"}}

In [271]:
d2["k3"][2]["b"]

'maity'

In [272]:
d2["k2"]="machine learning" # replacign a value of a particular key if key already exsists if not it will create a new key value pair

In [273]:
d2

{'k1': 'ineuron',
 'k2': 'machine learning',
 'k3': {1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'}}

In [274]:
for i in d2:
    print(i)

k1
k2
k3

In [275]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [276]:
d2.values()

dict_values(['ineuron', 'machine learning', {1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'}])

In [277]:
d2.items()

dict_items([('k1', 'ineuron'), ('k2', 'machine learning'), ('k3', {1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'})])

In [278]:
list(d2.keys())[1]

'k2'

In [279]:
for i in d2.keys():
    if type(d2[i])==dict:
        print(d2[i])

{1: 'aku', 2: {'a': 'bagla', 'b': 'maity'}, 3: 'data analysis'}

In [280]:
d3 = {}
for i in range(11):
    d3[i] = i**2

In [281]:
d3

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [282]:
{i: i**2 for i in range(11)} # dictionary comprehension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [283]:
s= "ineuron"
{i:"ineuron" for i in s}

{'i': 'ineuron',
 'n': 'ineuron',
 'e': 'ineuron',
 'u': 'ineuron',
 'r': 'ineuron',
 'o': 'ineuron'}

In [284]:
d4 = {"ineuron":{"a":23,"b":34,"c":56},"course":{"d":45,"e":12}} # doesnot work incase of more key value pair 
max=0
for i in d4.values():
    for j in i.values():
        if (max<j):
            max=j
print(max)

56

In [285]:
d4 = {"ineuron":{"a":23,"b":34,"c":56},"course":{"d":45,"e":12},"xyz":99}
max = 0
for i in d4.values():
    if type(i)== int:
        if max<i:
            max=i
    else:
        for j in i.values():
            if j>max:
                max = j
print(max)

99

In [287]:
d5 = {"ineuron":{"a":23,"b":34,"c":56},"course":{"d":45,"e":12},"xyz":99,"a":[1,2,3,4,789]}
max = 0
for i in d5.values():
    if max<i:
        max=i
    elif max>i:
        max=i
    else:
        for j in i.values():
            if j>max:
                max = j

print(max)

TypeError: '<' not supported between instances of 'int' and 'dict'

In [288]:
# write a code to find max value where the values can be of any type dict,list,set,tuple,boolean,float number etc

# **9/25/21**
---

## **functions**
---

In [289]:
l=[3,4,5,6,7]
len(l)

5

In [290]:
print("hello world")

hello world

In [291]:
type(l)

list

In [292]:
def func_test():
    pass

In [293]:
func_test()

In [294]:
def func_test2():
    print("this is my first function")

In [295]:
func_test2()

this is my first function

In [296]:
def func_test3():
    print(1+2)

In [297]:
func_test3()

3

In [298]:
def func_test4(a,b):
    print(a+b)

In [299]:
func_test4("hello"," world")

hello world

In [300]:
func_test4(10,40)

50

In [301]:
func_test4("4"," aku")

4 aku

In [302]:
def func_test5(a,b):
    if type(a)!=str:
        print(str(a) + b)
    else:
        print(a+b)

In [303]:
func_test5(4," aku")

4 aku

In [304]:
def func_test6(a,b):
    if type(a)!=str:
        return str(a) + b
    else:
        return a+b

In [305]:
func_test6(4," Aku") + " Bagla"

'4 Aku Bagla'

In [306]:
def func_test7(a,b,c):
    return a+2,b+3,c+4,a+b+c

In [307]:
n=func_test7(3,4,5)

In [308]:
n

(5, 7, 9, 12)

In [309]:
x,y,z,w = func_test7(3,4,5)

In [310]:
x

5

In [311]:
y

7

In [312]:
z

9

In [313]:
w

12

In [314]:
_,_,_,b=func_test7(3,4,5) # the underscores here are placeholders for variables

In [315]:
b

12

In [316]:
def func_test8(x,y):
    return x+y,x,x**4,x*y

In [317]:
func_test8(3,4)[2]/3

27.0

In [318]:
_,_,a,_ = func_test8(3,4)
a

81

In [319]:
def func_test9(b,v,c):
    d=b*v*c
    f=b+v+c+d
    return d,f

In [320]:
func_test9(4,5,6)

(120, 135)

In [321]:
l=["sudh",3,4,5,"kumar",'a','b',45.65]
def func_list(l):
    """This function returns the number of string variable in the list"""
    c=0
    for x in l:
        if type(x) == str:
          c+=1
    return c

In [322]:
func_list(l) # the above 3 colons used helps to define a docstring i.e what the function does

4

In [323]:
def test1(b=10,c=6):
    return b,c

In [324]:
test1(4)

(4, 6)

In [325]:
test1(c="sudh")

(10, 'sudh')

In [326]:
def test2(b=10,c=6):
    return c

In [327]:
test2("covid")

6

In [328]:
def test3(*args):
    return args

In [329]:
test3("a","b","c",1.28,4,6)

('a', 'b', 'c', 1.28, 4, 6)

In [330]:
def test4(*args):
    con=""
    for i in args:
        if type(i) == str:
            con = con+i
    return con
    # args is a generic variable any word can be used instead of args to pass any number of arguments

In [331]:
test4(1,3,7,'aku',' bagla',' ineuron',45.8)

'aku bagla ineuron'

In [332]:
def test5(*args,a,b,c,d):
    return args,a,b,c,d

test5(5,7,4,8,a=3,b=6,c=9,d=12)

((5, 7, 4, 8), 3, 6, 9, 12)

In [333]:
def test6(**kwargs):
    x=""
    for k,v in kwargs.items():
        if type(v) == str:
            x=x+v
    return x

test6(a=35,b=45,c=55,aku=65,bagla=[1,2,3],d="hello")

'hello'

# **10/3/21**
---

## **Error and exception handeling**
---

 please refer to Exception handeling wikipedia for more information on its importance

In [334]:
try:
    1/0
except Exception as e:
    print('dgfyhvbfdh')
print("this is my prog")

dgfyhvbfdh
this is my prog

In [335]:
try:
    1/0
except Exception as e:
    print('dgfyhvbfdh')
try:
    print("this is my prog")
except:
    print("hello")

dgfyhvbfdh
this is my prog

In [336]:
f=open("test.txt","w")
f.write("this is my first file")

21

In [337]:
ls

 Volume in drive G is Google Drive
 Volume Serial Number is 1983-1116

 Directory of g:\My Drive\ineuron_MLDL\1_Python

10/07/2021  01:31 PM    <DIR>          .
09/05/2021  12:09 PM    <DIR>          ..
09/26/2021  12:34 PM             1,361 1_notes.txt
10/07/2021  11:25 AM           103,546 1_workfile_pythoncore.ipynb
10/07/2021  01:31 PM                 0 test.txt
               3 File(s)        104,907 bytes
               2 Dir(s)  15,582,248,960 bytes free

In [338]:
pwd() # present working directory

'g:\\My Drive\\ineuron_MLDL\\1_Python'

In [339]:
try:
    f=open("test.txt","r")
    f.write("this is my first file")
except Exception as e:
    print(e)

not writable

In [340]:
try:
    a=10/0
    f=open("test.txt","r")
    f.write("this is my first file")
  
except IOError as e:
    print("It is a input output error",e)  
except ZeroDivisionError as e:
    print("Its a division by zero",e)
except SyntaxError as e:
    print("its a syntax error",e)

Its a division by zero division by zero

In [341]:
try:
    a=10/3
    try:
        f=open("test.txt","r")
        f.write("this is my first file")
    except:
        print("there is an issue")

except IOError as e:
    print("It is a input output error",e)  
except ZeroDivisionError as e:
    print("Its a division by zero",e)
except SyntaxError as e:
    print("its a syntax error",e)

there is an issue

In [342]:
try:
    a=10/3
    try:
        f=open("test.txt","r")
        f.write("this is my first file")
    except:
        print("there is an issue")
    else:
        print("to be executed after internal try is executed")

except IOError as e:
    print("It is a input output error",e)  
except ZeroDivisionError as e:
    print("Its a division by zero",e)
except SyntaxError as e:
    print("its a syntax error",e)

else:
    print("to be executed after successful execution")

there is an issue
to be executed after successful execution

In [343]:
try:
    a=int(input())
    print(a/67)
except :
    print("this is my error msg")
else:
    print("execute after successful input run")

51.582089552238806
execute after successful input run

In [344]:
try:
    a=45678
    print(a/67)
except :
    print("this is my error msg")
else:
    print("execute after successful input run")
finally:
    print("execute always")

681.7611940298508
execute after successful input run
execute always

In [345]:
def tryexcept():
    try:
        val=int(input("please input an integer"))
    except Exception as e:
        print(e)
    finally:
        print("well executed")

In [346]:
tryexcept()

well executed

In [350]:
def askint():
    try:
        a=int(input("please input an interger"))
        print(a/45)
    except Exception as e:
        askint()

In [351]:
askint()

1.0

In [352]:
def askint1():
    while True:        
        try:
            a=int(input("please input an interger"))            
        except Exception as e:
            print("this is error",e)
            continue
        else:
            break
        finally:
            print("the input is good")

In [353]:
askint1()

this is error invalid literal for int() with base 10: 'huh'
the input is good
the input is good

In [359]:
def raiseexception(a):
    if a <5:
        raise Exception("this is my custome msg",a)
    return a

In [360]:
raiseexception(7)

7

In [361]:
try:
    raiseexception(4)
except Exception as e:
    print(e)

('this is my custome msg', 4)

In [ ]:
# write a programme to insert integer into a list and if user has entered < than 4 then raise your own exception with custom msg and user is not entering int then keep asking again
# you are supposed to enter 10 such int with condition

In [369]:
def askint2():
    l=[]
    for i in range(10):
        while True:        
            try:
                x=int(input("please input an interger"))            
            except:
                continue
            else:
                try:
                    if x <4:
                        raise Excepetion(x)
                    else:
                        l.append(x)
                        break
            
                except:
                    print("enter value ore than 4")

    print(l)

In [370]:
askint2()

[4, 5, 6, 7, 8, 9, 9, 8, 7, 6]

In [371]:
def myfunc3():
    mylist=[]
    try:
        while len(mylist) <=9:
            a=int(input("enter numerical value "))
            if (a<4):
                raise Exception("enter value more than 4")
            else:
                mylist.append(a)
    except Exception as e:
        myfunc3()
    print(mylist)

myfunc3()

[678, 6, 543, 890, 32, 67, 8, 9, 4, 7]
[]