In [1]:
import sys
import platform
print(f"Executable Python: {sys.executable}")
print(f"Python Version: {platform.python_version()}")

#To show multiple outputs and misc. changes
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # Show all results without print (last_expr)

Executable Python: C:\Users\maity\.conda\envs\aku_mldl\python.exe
Python Version: 3.9.6

# **9/5/21**
---

## *Python*

In [2]:
print("this is my first class")

this is my first class

In [3]:
print("hello world")

hello world

In [4]:
1+2

3

In [5]:
3**4

81

In [6]:
a =1
b= 4**5

In [7]:
a 
b

1

1024

In [8]:
type(a)

int

In [9]:
c=6.7

In [10]:
type(c)

float

In [11]:
a1=5+7j

In [12]:
type(a1)

complex

In [13]:
def test():
    """ this is my docstring test)"""

    return True

# **9/11/21**
---

### *Variables*
---

In [14]:
a=10

In [15]:
a

10

In [16]:
type(a)

int

In [17]:
b="aku"

In [18]:
type(b)

str

In [19]:
c= 'aku'

In [20]:
type(c)

str

In [21]:
a=10
b=20
a+b

30

In [22]:
a*b

200

In [23]:
f=45.67
type(f)

float

In [24]:
c=7+7j   # j represents a complex imaginary number so c = real+imaginary number

In [25]:
type(c)

complex

In [26]:
c.real # to extract real number from the complex number

7.0

In [27]:
c.imag # to extract imaginary number from complex number

7.0

In [28]:
s="hello"

In [29]:
"1" + "hello"

'1hello'

In [30]:
str(1) + " hello" #this is a function for type casting

'1 hello'

In [31]:
s = "Hello this is ineuron class"

In [32]:
s[0]

'H'

In [33]:
s[-1]

's'

In [34]:
s[:5]

'Hello'

In [35]:
s[-6:]

' class'

In [36]:
s[5:90]

' this is ineuron class'

In [37]:
s[0:20:2] # [start:end:jump]

'Hloti sier'

In [38]:
s[::-1]

'ssalc norueni si siht olleH'

In [39]:
s[::-3]

'slnuiii l'

In [40]:
s[0:7:-1] # the start and end point is contradicting the jump direction and hence there is no value result

''

In [41]:
s[5::-1]

' olleH'

## *List*
---

In [42]:
s = "bdscuh oijsdoihdfh jdh"

In [43]:
len(s)

22

In [44]:
"aku" + " aku" # this is concatination of strings meaning it joins both string together

'aku aku'

In [45]:
"aku " * 10

'aku aku aku aku aku aku aku aku aku aku '

In [46]:
a= True
b = False

In [47]:
type(a)
type(b)

bool

bool

In [48]:
True - True # true has a value of 1 while false has a value of 0

0

In [49]:
True - False

1

In [50]:
False - False

0

In [51]:
True/True

1.0

In [52]:
True/False

ZeroDivisionError: division by zero

In [53]:
True*True

1

In [54]:
True*False

0

In [55]:
import numpy as np

np.asanyarray([0,1])/0

C:\Users\maity\AppData\Local\Temp/ipykernel_10880/992079976.py:3: RuntimeWarning: divide by zero encountered in true_divide
  np.asanyarray([0,1])/0
C:\Users\maity\AppData\Local\Temp/ipykernel_10880/992079976.py:3: RuntimeWarning: invalid value encountered in true_divide
  np.asanyarray([0,1])/0

array([nan, inf])

In [56]:
aku = [1,2,3,4,5]

In [57]:
l=["hi",5,"apple",4.2,"orange",6.4j]  # many lists can be nested inside another a list can have any number of lists strings complex or any type of data

In [58]:
type(l)

list

In [59]:
type(aku)

list

In [60]:
l[2]

'apple'

In [61]:
l[2:]

['apple', 4.2, 'orange', 6.4j]

In [62]:
l[-1]

6.4j

In [63]:
l[-2:]

['orange', 6.4j]

In [64]:
l[::-1]

[6.4j, 'orange', 4.2, 'apple', 5, 'hi']

In [65]:
l[2][::-1]

'elppa'

In [66]:
l[-2][::1]

'orange'

In [67]:
a=[1,2,3,4]
a.append("hello")

In [68]:
a

[1, 2, 3, 4, 'hello']

In [69]:
a * 4

[1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello']

## *Range*
---

In [70]:
range(10)

range(0, 10)

In [71]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
list(range(4,20))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [73]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [74]:
list(range(-3,-13,-1))

[-3, -4, -5, -6, -7, -8, -9, -10, -11, -12]

In [75]:
a= input() # by default the input is string

In [76]:
a

'45'

In [77]:
type(a)

str

In [78]:
b= int(input("enter a number = "))   # to have it as an integer we need to type cast the input function into int

In [79]:
b

36

In [80]:
type(b)

int

In [81]:
a=10
b=20
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

## *Tuples*
---

In [82]:
a=10
b=20
c="aku"
d=[1,2,3,4]

In [83]:
a,b,c,d = 10,20,"aku",[1,2,3,4]

In [84]:
t = (10,20,"aku",[1,2,3,4])

In [85]:
t[1]

20

In [86]:
t[2]

'aku'

In [87]:
t[:3]

(10, 20, 'aku')

In [88]:
type(t)

tuple

In [89]:
t[::-1]

([1, 2, 3, 4], 'aku', 20, 10)

In [90]:
# tuples ar immutable that means the values can not be changed inside a tuple under any circumstances

In [91]:
l[0]="hello"

In [92]:
l

['hello', 5, 'apple', 4.2, 'orange', 6.4j]

# **9/12/21**
---

## **Flow Control**
---

### *IF-ELIF-ELSE*
---

In [93]:
a = 10
if a :
    print("this is value of a: ")

this is value of a:

In [95]:
a=25
if a >20:
    print("test: ")

test:

In [98]:
a =10
if a > 20:
    pass
# pass is used for just continueing and passing the command instead of writing a task or body wheather the condition is true or false

In [100]:
a=25
if a < 20:
    print("statement is true")
else:
    print("statement is false")

statement is false

In [104]:
a = 20
if a <20:
    print("this is 1st condition")
elif a == 20:
    print("my 2nd condition")
else:
    print("my 3rd statement")

my 2nd condition

In [105]:
a = 20
if a <20:
    print("this is 1st condition")
elif type(a)==int:
    print("checking type of var")
elif a == 20:
    print("my 2nd condition")
else:
    print("my 3rd statement")

checking type of var

In [107]:
discount = int(input("how much discount is avaialble?"))
if discount == 50:
    print("you can buy all the items listed in row 1")
elif discount == 30:
    print("you can buy all the items from row 2")
elif discount == 20:
    print("send user to row 3")
elif discount > 10:
    print("send user to row 4")
else:
    print("there is no item available")

send user to row 4

In [110]:
income = 1200
if income > 1000:
    print("eligible for platinum card")
elif income > 800:
    print("eligible for gold card")
else:
    print("base card only")

eligible for platinum card

In [116]:
# nested if statements there can be any number of nested statements
income = 6000
if income > 1000:
    print("eligible for platinum card")
    if income<=2000:
        print("eligible for more benefits")
    elif income <=5000:
        print("no annual fees on the card")
    else:
        print("additional add-on card")

elif income > 800:
    print("eligible for gold card")
else:
    print("base card only")

eligible for platinum card
additional add-on card

In [117]:
val = 10
if val ==10: print("this is 10")

this is 10

### *FOR-LOOP*
---

In [118]:
list1 = [1,2,3,4,5,6,7,8,9]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [120]:
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9

In [122]:
list2=["hello",45.6,[123,"hi","world"], (4,9,2) , 89,"world"]

In [123]:
for i in list2:
    print(i)

hello
45.6
[123, 'hi', 'world']
(4, 9, 2)
89
world

In [129]:
for i in list2:
    if type(i) == str:
        print(i)

hello
world

In [131]:
for i in list2:
    if type(i)==list:
        print(i[1])

hi

In [132]:
list2

['hello', 45.6, [123, 'hi', 'world'], (4, 9, 2), 89, 'world']

In [133]:
for i in list2:
    if type(i)==list:
        print(i[::])

[123, 'hi', 'world']

In [134]:
s= "Siddharth Maity"
for i in s:
    print(i+"2")

S2
i2
d2
d2
h2
a2
r2
t2
h2
 2
M2
a2
i2
t2
y2

In [136]:
# testing with tuples
t=(1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [137]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [142]:
for i in list2:
    if type(i)==list or type(i)==tuple or type(i)==str:
        print(i)

hello
[123, 'hi', 'world']
(4, 9, 2)
world

In [144]:
for i in list2:
    if type(i)==list and type(i)==tuple or type(i)==str:
        print(i)
    else:
        print("its not possible")

hello
its not possible
its not possible
its not possible
its not possible
world

In [145]:
# nested for loop
list2

['hello', 45.6, [123, 'hi', 'world'], (4, 9, 2), 89, 'world']

In [152]:
for i in list2:
    #print(i)
    if type(i)==list or type(i)==tuple:
        print(i)
        for j in i:
            print(j)

[123, 'hi', 'world']
123
hi
world
(4, 9, 2)
4
9
2

In [154]:
n=7
for i in range(n):
    print("*"*i)

*
**
***
****
*****
******

In [162]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end="_")
    print("")

*_
*_*_
*_*_*_
*_*_*_*_
*_*_*_*_*_

### Task 1

In [177]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    print("* "*i)
for i in range(n-1,0,-1):
    print(" "*(n-i),end="")
    print("* "*i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

### Task 2

In [178]:
l1 = [[1,2,2,3,3,4],[2,3,2,3,4],[1,5,5,8,8,6]]

In [187]:
l1

[[1, 2, 2, 3, 3, 4], [2, 3, 2, 3, 4], [1, 5, 5, 8, 8, 6]]