In [1]:
import sys
import platform
print(f"Executable Python: {sys.executable}")
print(f"Python Version: {platform.python_version()}")

Executable Python: C:\Users\maity\.conda\envs\aku_mldl\python.exe
Python Version: 3.9.6

# **9/5/21**
---

## *Python*

In [2]:
print("this is my first class")

this is my first class

In [3]:
print("hello world")

hello world

In [4]:
1+2

3

In [5]:
3**4

81

In [6]:
a =1
b= 4**5

In [7]:
a 
b

1024

In [8]:
type(a)

int

In [9]:
c=6.7

In [10]:
type(c)

float

In [11]:
a1=5+7j

In [12]:
type(a1)

complex

In [13]:
def test():
    """ this is my docstring test)"""

    return True

# **9/11/21**
---

### *Variables*
---

In [14]:
a=10

In [15]:
a

10

In [16]:
type(a)

int

In [17]:
b="aku"

In [18]:
type(b)

str

In [19]:
c= 'aku'

In [20]:
type(c)

str

In [21]:
a=10
b=20
a+b

30

In [22]:
a*b

200

In [23]:
f=45.67
type(f)

float

In [30]:
c=7+7j   # j represents a complex imaginary number so c = real+imaginary number

In [31]:
type(c)

complex

In [35]:
c.real # to extract real number from the complex number

7.0

In [34]:
c.imag # to extract imaginary number from complex number

7.0

In [36]:
s="hello"

In [37]:
"1" + "hello"

'1hello'

In [38]:
str(1) + " hello" #this is a function for type casting

'1 hello'

In [41]:
s = "Hello this is ineuron class"

In [44]:
s[0]

'H'

In [45]:
s[-1]

's'

In [47]:
s[:5]

'Hello'

In [52]:
s[-6:]

' class'

In [53]:
s[5:90]

' this is ineuron class'

In [58]:
s[0:20:2] # [start:end:jump]

'Hloti sier'

In [59]:
s[::-1]

'ssalc norueni si siht olleH'

In [60]:
s[::-3]

'slnuiii l'

In [62]:
s[0:7:-1] # the start and end point is contradicting the jump direction and hence there is no value result

''

In [71]:
s[5::-1]

' olleH'

## *List*
---

In [72]:
s = "bdscuh oijsdoihdfh jdh"

In [73]:
len(s)

22

In [74]:
"aku" + " aku" # this is concatination of strings meaning it joins both string together

'aku aku'

In [76]:
"aku " * 10

'aku aku aku aku aku aku aku aku aku aku '

In [77]:
a= True
b = False

In [78]:
type(a)
type(b)

bool

In [82]:
True - True # true has a value of 1 while false has a value of 0

0

In [83]:
True - False

1

In [84]:
False - False

0

In [85]:
True/True

1.0

In [86]:
True/False

ZeroDivisionError: division by zero

In [87]:
True*True

1

In [89]:
True*False

0

In [90]:
import numpy as np

np.asanyarray([0,1])/0

C:\Users\maity\AppData\Local\Temp/ipykernel_9836/992079976.py:3: RuntimeWarning: divide by zero encountered in true_divide
  np.asanyarray([0,1])/0
C:\Users\maity\AppData\Local\Temp/ipykernel_9836/992079976.py:3: RuntimeWarning: invalid value encountered in true_divide
  np.asanyarray([0,1])/0

array([nan, inf])

In [91]:
aku = [1,2,3,4,5]

In [96]:
l=["hi",5,"apple",4.2,"orange",6.4j]  # many lists can be nested inside another a list can have any number of lists strings complex or any type of data

In [97]:
type(l)

list

In [98]:
type(aku)

list

In [99]:
l[2]

'apple'

In [100]:
l[2:]

['apple', 4.2, 'orange', 6.4j]

In [101]:
l[-1]

6.4j

In [103]:
l[-2:]

['orange', 6.4j]

In [104]:
l[::-1]

[6.4j, 'orange', 4.2, 'apple', 5, 'hi']

In [107]:
l[2][::-1]

'elppa'

In [109]:
l[-2][::1]

'orange'

In [110]:
a=[1,2,3,4]
a.append("hello")

In [111]:
a

[1, 2, 3, 4, 'hello']

In [112]:
a * 4

[1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello',
 1,
 2,
 3,
 4,
 'hello']

## *Range*
---

In [113]:
range(10)

range(0, 10)

In [114]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
list(range(4,20))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [117]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [118]:
list(range(-3,-13,-1))

[-3, -4, -5, -6, -7, -8, -9, -10, -11, -12]

In [119]:
a= input() # by default the input is string

In [120]:
a

'67'

In [121]:
type(a)

str

In [130]:
b= int(input("enter a number = "))   # to have it as an integer we need to type cast the input function into int

In [131]:
b

45

In [132]:
type(b)

int

In [133]:
a=10
b=20
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

## *Tuples*
---

In [134]:
a=10
b=20
c="aku"
d=[1,2,3,4]

In [135]:
a,b,c,d = 10,20,"aku",[1,2,3,4]

In [136]:
t = (10,20,"aku",[1,2,3,4])

In [137]:
t[1]

20

In [138]:
t[2]

'aku'

In [139]:
t[:3]

(10, 20, 'aku')

In [140]:
type(t)

tuple

In [141]:
t[::-1]

([1, 2, 3, 4], 'aku', 20, 10)

In [142]:
# tuples ar immutable that means the values can not be changed inside a tuple under any circumstances

In [143]:
l[0]="hello"

In [144]:
l

['hello', 5, 'apple', 4.2, 'orange', 6.4j]

In [145]:
t[0]="hi"

TypeError: 'tuple' object does not support item assignment