# **11/6/21**
---

# **Object Oriented Programming**
---

In [8]:
import sys
import platform
import pandas as pd
import numpy as np
print(f"Executable Python: {sys.executable}")
print(f"Python Version: {platform.python_version()}")

#To show multiple outputs and misc. changes
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # Show all results without print (last_expr)

Executable Python: C:\Users\maity\.conda\envs\aku_mldl\python.exe
Python Version: 3.9.6

In [9]:
class test:
    pass

In [10]:
class test1:
    def test_func(self):
        print("this is my first class")

        # self is just a pointer pointing towards the class related to the function and any name or variable can be used instead

In [11]:
a = 'aku'
b = test1()

In [12]:
b.test_func()

this is my first class

In [13]:
class test2:
    def __init__(self,a,b,c):
        self.a1=a
        self.b1=b
        self.c1=c

    def sumtest(self):
        return self.a1+self.b1+self.c1

In [14]:
f = test2(5,8,3)

In [15]:
f.sumtest()

16

# **11/13/21**
---

## OOPS

In [16]:
class test:
    pass

In [20]:
a = test()
a.name="sid"
a.phone = 345657
a.surname = "maity"

In [23]:
b=test()
b.name ="aku"
b.phone= [78,56,78]
b.surname="bagla"

In [22]:
a.name
b.name

'sid'

'aku'

In [26]:
b.phone

[78, 56, 78]

In [29]:
class test1:
    def __init__(self,name,phone,surname):
        self.name = name
        self.phone = phone
        self.surname = surname

In [31]:
r = test1("sid",345232,"maity")
v = test1("aku",45567,"bagla")

r.surname
v.name

'maity'

'aku'

In [46]:
class car:
    def __init__(self,year,make,model,engine_type,tyre_type):
        self.year = year
        self.make = make
        self.model = model
        self.engine_type = engine_type
        self.tyre_type = tyre_type
        

    def engine_type1(self):
        return self.year

    
    def __str__(self):
        return "this is my car object for audi"

In [47]:
audi = car(2021,"2342","23","xyz","pqr")
bmw = car(2021,"34355","43","xyz1","pqr1")

In [48]:
audi.year
bmw.model

2021

'43'

In [49]:
audi.engine_type1()

2021

In [50]:
print(audi)

this is my car object for audi

In [53]:
class datamanipulation:
    def __init__(self,read_csv,read_excel,read_db) :
        self.read_csv = read_csv
        self.read_excel = read_excel
        self.read_db = read_db

    
    def read_csv1(self):
        return "data from csv file"

    def read_excel1(self):
        return "data from excel sheet"

    def read_db1(self):
        return "data from db"

In [55]:
read_data = datamanipulation("csv","excel","db")
read_data.read_csv1()
read_data.read_excel1()
read_data.read_db1()

'data from csv file'

'data from excel sheet'

'data from db'

In [56]:
class test2:
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c

In [57]:
d = test2("aku","bagla",333434)
d.a

'aku'

In [71]:
class test3:
    def __init__(self,a,b,c,d):
        self.a = a
        self.b = b
        self.c = c
        self.d = d
    def test_in(self):
        return self.a


class test4(test3):
     def __init__(self, a, b, c, d,p,q):
         self.p = p
         self.q = q 
         test3.__init__(self,a,b,c,d)
        #super().__init__(a, b, c, d)

e = test4(2,67,"adf","vfg",5667,322)

In [72]:
e.b

67