# **11/6/21**
---

# **Object Oriented Programming**
---

In [1]:
import sys
import platform
import pandas as pd
import numpy as np
print(f"Executable Python: {sys.executable}")
print(f"Python Version: {platform.python_version()}")

#To show multiple outputs and misc. changes
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # Show all results without print (last_expr)

Executable Python: C:\Users\maity\.conda\envs\aku_mldl\python.exe
Python Version: 3.9.6

In [2]:
class test:
    pass

In [3]:
class test1:
    def test_func(self):
        print("this is my first class")

        # self is just a pointer pointing towards the class related to the function and any name or variable can be used instead

In [4]:
a = 'aku'
b = test1()

In [5]:
b.test_func()

this is my first class

In [6]:
class test2:
    def __init__(self,a,b,c):
        self.a1=a
        self.b1=b
        self.c1=c

    def sumtest(self):
        return self.a1+self.b1+self.c1

In [7]:
f = test2(5,8,3)

In [8]:
f.sumtest()

16

# **11/13/21**
---

## OOPS

In [9]:
class test:
    pass

In [10]:
a = test()
a.name="sid"
a.phone = 345657
a.surname = "maity"

In [11]:
b=test()
b.name ="aku"
b.phone= [78,56,78]
b.surname="bagla"

In [12]:
a.name
b.name

'sid'

'aku'

In [13]:
b.phone

[78, 56, 78]

In [14]:
class test1:
    def __init__(self,name,phone,surname):
        self.name = name
        self.phone = phone
        self.surname = surname

In [15]:
r = test1("sid",345232,"maity")
v = test1("aku",45567,"bagla")

r.surname
v.name

'maity'

'aku'

In [16]:
class car:
    def __init__(self,year,make,model,engine_type,tyre_type):
        self.year = year
        self.make = make
        self.model = model
        self.engine_type = engine_type
        self.tyre_type = tyre_type
        

    def engine_type1(self):
        return self.year

    
    def __str__(self):
        return "this is my car object for audi"

In [17]:
audi = car(2021,"2342","23","xyz","pqr")
bmw = car(2021,"34355","43","xyz1","pqr1")

In [18]:
audi.year
bmw.model

2021

'43'

In [19]:
audi.engine_type1()

2021

In [20]:
print(audi)

this is my car object for audi

In [21]:
class datamanipulation:
    def __init__(self,read_csv,read_excel,read_db) :
        self.read_csv = read_csv
        self.read_excel = read_excel
        self.read_db = read_db

    
    def read_csv1(self):
        return "data from csv file"

    def read_excel1(self):
        return "data from excel sheet"

    def read_db1(self):
        return "data from db"

In [22]:
read_data = datamanipulation("csv","excel","db")
read_data.read_csv1()
read_data.read_excel1()
read_data.read_db1()

'data from csv file'

'data from excel sheet'

'data from db'

In [23]:
class test2:
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c

In [24]:
d = test2("aku","bagla",333434)
d.a

'aku'

In [25]:
class test3:
    def __init__(self,a,b,c,d):
        self.a = a
        self.b = b
        self.c = c
        self.d = d
    def test_in(self):
        return self.a


class test4(test3):
     def __init__(self, a, b, c, d,p,q):
         self.p = p
         self.q = q 
         test3.__init__(self,a,b,c,d)
        #super().__init__(a, b, c, d)

e = test4(2,67,"adf","vfg",5667,322)

In [26]:
e.b

67

# **11/14/21**
---

In [27]:
 class person:
     def __init__(self,name,surname,birth_year):
         self.name = name
         self.surname = surname
         self.birth_year = birth_year
         

     def age(self,current_year):
        return current_year-self.birth_year

In [28]:
sample= person("aku","bagla",1988)
sample.age(2021)

33

In [29]:
class student(person):
    def __init__(self, student_id, *args):
        super(student,self).__init__(*args)
        self.student_id = student_id

In [30]:
stud = student(2345,"aku","bagla",1988)
stud.age(2021)

33

In [31]:
class test3:
    def __init__(self,a,b):
        self.a = a
        self.b = b

class test4:
    def __init__(self,c,d):
        self.c = c
        self.d = d

In [32]:
class child(test3 , test4 ):
    def __init__(self,a,b,c,d):
        test3.__init__(self,a,b)
        test4.__init__(self,c,d)

    def fun_child(self):
        print(self.a,self.c)

In [33]:
obj = child(4,5,6,7)
obj.fun_child()

4 6

In [34]:
class P1:
    def __init__(self,a,b):
        self.a = a
        self.b = b

    def fun_P1(self):
        return " P1 method is working"


class P2(P1):
    def __init__(self,*args):
        pass

    def fun_P2(self):
        return " P2 method is working"
    

class P3(P2):
    def __init__(self):
        pass
    def fun_P3(self):
        return " P3 method is working"

In [35]:
obj1 = P3()
obj1.fun_P1()
obj1.fun_P2()
obj1.fun_P3()

' P1 method is working'

' P2 method is working'

' P3 method is working'

### **Method Overriding**
---

In [36]:
class person:
     def __init__(self,name,surname,birth_year):
         self.name = name
         self.surname = surname
         self.birth_year = birth_year
         

     def age(self,current_year):
        return current_year-self.birth_year

     def __str__(self):
        return self.name


class student(person):
    def __init__(self, student_id, *args):
        super(student,self).__init__(*args)
        self.student_id = student_id

    def __str__(self):
        return  super(student,self).__str__() + str( self.student_id)
        #return person.__str__(self) + str( self.student_id)

In [37]:
per = person("aku","bagla", 1988)
print(per)

aku

In [38]:
stu = student(23,"aku","bagla", 1988)
print(stu)

aku23

In [49]:
class tyre:
    def __init__(self,branch,belted_bias,opt_pressure):
        self.branch = branch
        self.belted_bias = belted_bias
        self.opt_pressure = opt_pressure

    def __str__(self):
        return self.branch + self.belted_bias + self.opt_pressure

class engine:
    def __init__(self,fuel_type, noise_level) :
        self.fuel_type = fuel_type
        self.noise_level = noise_level
        
    def __str__(self) -> str:
        return self.fuel_type + self.noise_level

class body:
    def __init__(self,size):
        self.size = size

    def __str__(self):
        return self.size


class car:
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c

    def __str__(self):
        return str(self.a) + str(self.b) + str(self.c)

In [50]:
t = tyre("branch"," belted_bias"," opt_pressure")
e = engine("fuel_type"," noise_level")
b = body("size")
c=car("a", " b", " c")

In [51]:
print(t)
print(e)
print(b)
print(c)

branch belted_bias opt_pressure
fuel_type noise_level
size
a b c

In [52]:
c1 = car (t, e, b)
print(c1)

branch belted_bias opt_pressurefuel_type noise_levelsize

In [65]:
class test5:
    def __init__(self,a,b):
        self.a = a 
        self.b = b

class test6(test5):
    def __init__(self, *args):
        test5.__init__(self,*args)

obj2 = test6(4,5)
obj2.b

5

In [70]:
class multiplynum:
    def __init__(self,a):
        self.a = a

    def __mul__(self,other):
        return self.a * other.a

In [71]:
a1 = multiplynum(4)
a2 = multiplynum(5)
a1*a2

20

In [72]:
class multiplynum:
    def __init__(self,a):
        self.a = a

    def __mul__(self,other):
        return self.a + other.a

In [74]:
a1 = multiplynum(4)
a2 = multiplynum(5)
a1*a2

9

In [75]:
a3 = multiplynum(4)
a4 = multiplynum(5)
a3*a4

9

In [79]:
def test(a,b):
    return a+b

In [80]:
test("sudh"," kumar")

'sudh kumar'

In [81]:
test(3,4)

7

### **Polymorphism**

In [82]:
class insta:
    def shared_stories(self):
        print("print story on insta")

class facebook:
    def shared_stories(self):
        print("print story on facebook")

def sharestories(app):
    app.shared_stories()

In [85]:
ins = insta()
fb = facebook()
sharestories(fb)
sharestories(ins)

print story on facebook
print story on insta

In [87]:
class ineuron:
    company_website = "ineuron_ai"
    name = "ineuron"

    def contact_details(self):
        print("contact us at , self.company_website")

class MLclass(ineuron):
    def __init__(self):
        self.year_est = 2019
        
    def est_details(self):
        print(self.name, self.company_website,self.year_est)

In [88]:
ml = MLclass()
ml.est_details()

ineuron ineuron_ai 2019

In [89]:
class ineuron:
    #company_website = "ineuron_ai"
    name = "ineuron"
    def __init__(self):
        self.company_website ="ineuron_ai"

    def contact_details(self):
        print("contact us at , self.company_website")

class MLclass(ineuron):
    def __init__(self,*args):
        self.year_est = 2019
        super(MLclass,self).__init__(*args)
    def est_details(self):
        print(self.name, self.company_website,self.year_est)

In [90]:
ml = MLclass()
ml.est_details()

ineuron ineuron_ai 2019